<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />

  <style>
  #jumbocontent{text-align:center}
}
</style>
</head>
<body>

  <div class="jumbotron">
    <div class="container"id="jumbocontent">
      <h1>Welcome To GNUKhata </h1>
      <h2>A Free and Open Source Accounting Software</h2><br />
      <h2>Features of GNUKhata</h2>
      <h3>It is Lightweight </h3>
      <h3>It is Scalable </h3>
      <h3> It is Fast and Robust</h3>
      <h3> It can be deployed for profit making and non profit Organisations</h3>

    </div>
  </div>
  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
</body>
  </html>
