<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Category saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>

    <div class="panel shadow category_panel">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="alert alert-danger" id="category-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter category name!{% endtrans %}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="category_name">{% trans %}N<u>a</u>me :{% endtrans %}</label>
              <input class="form-control input-sm" id="category_name" placeholder="{% trans %}Enter category name{% endtrans %}" accesskey="a">
            </div>
            <div class="form-group">
              <label for="category_under">{% trans %}Un<u>d</u>er :{% endtrans %}</label>
              <select class="form-control input-sm" id="category_under" accesskey="d">
                <option value="" selected>None</option>
                {% for categories in gkresult %}
                <option value="{{categories['categorycode']}}">{{categories["categoryname"]}} ({{categories["subcount"]}})</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="category_tax_table">{% trans %}<u>V</u>AT :{% endtrans %}</label>
              <table id="category_tax_table" class="table table-condensed table-fixedheader">
                <thead>
                  <tr>
                    <th class="col-xs-4">{% trans %}Name{% endtrans %}</th>
                    <th class="col-xs-4">{% trans %}State(optional){% endtrans %}</th>
                    <th class="col-xs-3">{% trans %}Rate{% endtrans %}</th>
                    <th class="col-xs-1">{% trans %}Remove{% endtrans %}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xs-4">
                      <input type="text" class="form-control input-sm tax_name" placeholder="Tax Name">
                    </td>
                    <td class="col-xs-4">
                      <select class="form-control input-sm tax_state" >
                        <option value="">None</option>
                        <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                        <option value="Assam" stateid="4">Assam</option>
                        <option value="Bihar" stateid="5">Bihar</option>
                        <option value="Chandigarh" stateid="6">Chandigarh</option>
                        <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                        <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                        <option value="Delhi" stateid="10">Delhi</option>
                        <option value="Goa" stateid="11">Goa</option>
                        <option value="Gujarat" stateid="12">Gujarat</option>
                        <option value="Haryana" stateid="13">Haryana</option>
                        <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                        <option value="Jharkhand" stateid="16">Jharkhand</option>
                        <option value="Karnataka" stateid="17">Karnataka</option>
                        <option value="Kenmore" stateid="18">Kenmore</option>
                        <option value="Kerala" stateid="19">Kerala</option>
                        <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                        <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                        <option value="Maharashtra" stateid="22">Maharashtra</option>
                        <option value="Manipur" stateid="23">Manipur</option>
                        <option value="Meghalaya" stateid="24">Meghalaya</option>
                        <option value="Mizoram" stateid="25">Mizoram</option>
                        <option value="Nagaland" stateid="26">Nagaland</option>
                        <option value="Narora" stateid="27">Narora</option>
                        <option value="Natwar" stateid="28">Natwar</option>
                        <option value="Odisha" stateid="29">Odisha</option>
                        <option value="Paschim Medinipur" stateid="30">Paschim Medinipur</option>
                        <option value="Pondicherry" stateid="31">Pondicherry</option>
                        <option value="Punjab" stateid="32">Punjab</option>
                        <option value="Rajasthan" stateid="33">Rajasthan</option>
                        <option value="Sikkim" stateid="34">Sikkim</option>
                        <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                        <option value="Telangana" stateid="36">Telangana</option>
                        <option value="Tripura" stateid="37">Tripura</option>
                        <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                        <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                        <option value="Vaishali" stateid="40">Vaishali</option>
                        <option value="West Bengal" stateid="41">West Bengal</option>
                      </select>
                    </td>
                    <td class="col-xs-3">
                      <div class="input-group">
                        <input class="form-control input-sm tax_rate text-right"  placeholder="Rate">
                        <div class="input-group-addon">%</div>
                      </div>
                    </td>
                    <td class="col-xs-1">
                      
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>

          </form>
        </div>
        <div class="col-md-6" id="category_spec_div" hidden>
          <div class="alert alert-danger" id="spec-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter specification name!{% endtrans %}</label>
          </div>
          <table id="category_spec_table" class="table table-condensed table-fixedheader">
            <thead>
              <tr>
                <th class="col-xs-9">{% trans %}Spec Name{% endtrans %}</th>
                <th class="col-xs-2">{% trans %}Type{% endtrans %}</th>
                <th class="col-xs-1">{% trans %}Remove{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="col-xs-9">
                  <input type="text" id="category_spec_name" class="form-control input-sm spec_name" placeholder="Spec Name">
                </td>
                <td class="col-xs-2">
                  <select id="category_spec_type" class="form-control input-sm spec_type" name="">
                    <option value="0">Text</option>
                    <option value="1">Number</option>
                    <option value="2">Date</option>
                    <option value="3">Option</option>
                  </select>
                </td>
                <td class="col-xs-1">
                  <a href="#" class="spec_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="category_addspecs" accesskey="s">{% trans %}Add <u>S</u>pecifications{% endtrans %}</button>
        <button class="btn btn-success btn-sm" id="category_savespecs" accesskey="e">{% trans %}Sav<u>e</u>{% endtrans %}</button>
      </div>
    </div>
  </div>

</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addcategory.js')}}"></script>
</body>
