<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="sup-success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Supplier saved.{% endtrans %}
    </div>
    <div class="alert alert-success" id="cus-success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Customer saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="cus-duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Customer Already Exist!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="sup-duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Supplier Already Exist!{% endtrans %}
    </div>

    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="name-blank-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Please Enter name!{% endtrans %}
    </div>

    <div class="panel shadow customersupplier_panel">
      <div class="panel-body ">
        <div class="col-md-6">
          <div class="alert alert-danger" id="cussup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please select a customer/supplier!{% endtrans %}</label>
          </div>

            <div class="form-group">
              <label for="add_cussup">{% trans %}Customer/Supplier:{% endtrans %}</label>
              <select class="form-control input-sm" id="add_cussup" accesskey="">
                <option value="" disabled hidden selected>Select Customer/Supplier</option>
                <option value="3" id=sel_customer>Customer</option>
                <option value="19" id=sel_supplier>Supplier</option>
              </select>
            </div>
            <br>
            <br>
            <div class="form-group" style="padding-top:15px;">
              <label for="add_cussup_name">{% trans %}Name:{% endtrans %}</label>
              <input class="form-control input-sm" id="add_cussup_name" placeholder="{% trans %}Enter Name{% endtrans %}" accesskey="">
            </div>
            <div class="form-group">
              <label for="add_cussup_email">{% trans %}Email:{% endtrans %}</label>
              <input class="form-control input-sm"type="email" id="add_cussup_email"  accesskey="">
            </div>
            <div class="form-group">
              <label for="add_cussup_phone">{% trans %}Phone No:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_phone"></input>
            </div>
          </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="add_cussup_address">Address:</label>
                <textarea class="form-control" rows="2" cols="40" id="add_cussup_address" aria-describedby="textareahelp"></textarea>
                <small id="textareahelp" class="form-text text-muted">Double press enter to shift focus to Fax</small>
              </div>

            <div class="form-group">
              <label for="add_cussup_fax">{% trans %}Fax{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_fax"></input>
            </div>
            <div class="form-group">
              <label for="add_cussup_pan">{% trans %}Pan:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_pan"></input>
            </div>
            <div class="form-group">
              <label for="add_cussup_tan">{% trans %}Tan:{% endtrans %}</label>
              <input class="form-control input-sm" type="text" id="add_cussup_tan"></input>
            </div>
          </div>
        </div>

      <div class="panel-footer">
        <button class="btn btn-success btn-sm" id="cussup_save" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert to save anywhere on the current screen to save{% endtrans %}">{% trans %}Save{% endtrans %}</button>
        <button id="add_cussup_reset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
      </div>
   </div>


  </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addcustomersupplier.js')}}"></script>
</body>
