<!DOCTYPE html>
<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}INVOICE{% endtrans %}</title>
<style media="screen">
 .label, label.inline {
     display: inline-block;
    width:10%;
}  

</style>
<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Invoice saved.{% endtrans %}
    </div>
    <div class="alert alert-warning" id="notax-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}You have not entered tax for this product!{% endtrans %}
    </div>
    <div class="alert alert-warning" id="sometax-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}You have not entered tax for one of the products!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Duplicate invoice no.!{% endtrans %}
    </div>
    <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}Please select a product!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="product-duplicate-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}Each product can be entered only once!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}Quantity cannot be blank zero and / or negative!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="allquantities-blank-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}All product quantities cannot be zero!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="quantity-exceed-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}Quantity cannot be greater than that specified in the delivery note!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="quantity-freeqty-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}Free Quantity cannot be more than Quantity!{% endtrans %}</label>
    </div>
    <div class="alert alert-danger" id="price-blank-alert"  aria-live="rude" role="alert" hidden>

      <label >{% trans %}Price per unit cannot be empty zero and / or negative!{% endtrans %}</label>
    </div>
    <div class="panel invoice_panel shadow">
      <div class="panel-body">
        <div class="container-fluid row">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >
              {% if gkstatus=="in" %}
              {% trans %}Please select a supplier!{% endtrans %}
              {% else %}
              {% trans %}Please select a customer!{% endtrans %}
              {% endif %}
            </label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="challanno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter invoice no.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="issuer-blank-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter issuer's name!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label >{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>

            {% trans %}Please enter date within the financial year!{% endtrans %}
          </div>

          <div class="alert alert-danger" id="invdc-date-alert" aria-live="rude" role="alert" hidden>

            {% trans %}Invoice cannot be prior to Devivery Note!{% endtrans %}
          </div>
	  <div class=" col-md-6">
	    <div class="form-inline">
	      <label for="reversecharge" class="col-sm-3 col-form-label col-form-label-sm" id="rvc">{% trans %}Reverse Charge{% endtrans %} :</label>
	      <input type="text" id="rvc" class="form-control input-sm" name="rvc" ></input>
	    </div>
	    <br>
	    <div class =" form-inline">
	      <label for="inv" class="col-sm-3 col-form-label col-form-label-sm">{% trans %}Invoice No{% endtrans %} :</label>
	      <input type="text" id="invno" class="form-control input-sm" name="invno"></input>
	    </div>
	    <br>
	    <div class =" form-inline">                                         
	      <label for="invoice_date" class="col-sm-3 col-form-label col-form-label-sm">{% trans %}Invoice Date{% endtrans %} :</label>
                <div class="form-group">
                  <input type="text" class="form-control input-sm invoicedate" size="2" maxlength="2" placeholder="DD" id="invoice_date" accesskey="v">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm invoicedate" size="2" maxlength="2" placeholder="MM" id="invoice_month" accesskey="v">
                </div>
                <div class="form-group">
                  <input type="text" class="form-control input-sm invoicedate" size="4" maxlength="4" placeholder="YYYY" id="invoice_year" accesskey="v">
	      </div>
	    </div>
	    <br>
 	    <div class ="form-inline" >
	      <label for="orgstate" class="col-sm-3 col-form-label col-form-label-sm">{% trans %}State{% endtrans %} :</label>
	      
	    </div>
	  </div>
	  



  <div id="viewcustsup"></div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addinvoice.js')}}"></script>
</body>
	</html>
