<body>

  <div class="container-fluid " style="padding:1 !important; maargin:0 !important;" >

    <div class=' addprod panel'>

        <div class="panel-body ">
          <form id="addprodform">
          <div class="col-sm-6" >
            <div class="form-group ">
              <label class="" for="addcatselect">{% trans %}Category{% endtrans %} :</label>
              <select class = "form-control input-sm"  name = "catselect" id="addcatselect" >
                <option value="" selected >{% trans %}None{% endtrans %}</option>
                {% for cat in gkresult["category"] %}
                <option value="{{cat['categorycode']}}">{{cat["categoryname"]}}({{cat["subcount"]}})</option>
                {% endfor %}
              </select>

            </div>


            <div class="form-group pds">
              <label for="addproddesc" class="">{% trans %}Product Description{% endtrans %} :</label>
              <input type='text' class="form-control" name="addproddesc"  id="addproddesc" placeholder="Alphanumeric">
            </div>
            <div class="form-group pds">
              <label for="uom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label>
              <select class = "form-control input-sm sel"  name = "uom" id="adduom" >
                <option value="" disabled selected hidden>{% trans %}Select Unit of Measurement{% endtrans %}</option>
                {% for uom in gkresult["uom"] %}
                <option value="{{uom['uomid']}}">{{uom["unitname"]}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <div class="panel">
              <table id="product_tax_table" class="table table-condensed table-bordered fixed-table">
                <thead class="bg-primary input-sm">
                  <tr>
                    <th class="col-xs-4">{% trans %}Tax Name{% endtrans %}</th>
                    <th class="col-xs-4">{% trans %}State(optional){% endtrans %}</th>
                    <th class="col-xs-3">{% trans %}Rate{% endtrans %}</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xs-4">
                      <input type="text" class="form-control input-sm tax_name product_new_name" placeholder="Tax Name">
                    </td>
                    <td class="col-xs-4">
                      <select class="form-control input-sm tax_state product_new_state" >
                        <option value="">None</option>
                        <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                        <option value="Assam" stateid="4">Assam</option>
                        <option value="Bihar" stateid="5">Bihar</option>
                        <option value="Chandigarh" stateid="6">Chandigarh</option>
                        <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                        <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                        <option value="Delhi" stateid="10">Delhi</option>
                        <option value="Goa" stateid="11">Goa</option>
                        <option value="Gujarat" stateid="12">Gujarat</option>
                        <option value="Haryana" stateid="13">Haryana</option>
                        <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                        <option value="Jharkhand" stateid="16">Jharkhand</option>
                        <option value="Karnataka" stateid="17">Karnataka</option>
                        <option value="Kerala" stateid="19">Kerala</option>
                        <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                        <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                        <option value="Maharashtra" stateid="22">Maharashtra</option>
                        <option value="Manipur" stateid="23">Manipur</option>
                        <option value="Meghalaya" stateid="24">Meghalaya</option>
                        <option value="Mizoram" stateid="25">Mizoram</option>
                        <option value="Nagaland" stateid="26">Nagaland</option>
                        <option value="Odisha" stateid="29">Odisha</option>
                        <option value="Pondicherry" stateid="31">Pondicherry</option>
                        <option value="Punjab" stateid="32">Punjab</option>
                        <option value="Rajasthan" stateid="33">Rajasthan</option>
                        <option value="Sikkim" stateid="34">Sikkim</option>
                        <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                        <option value="Telangana" stateid="36">Telangana</option>
                        <option value="Tripura" stateid="37">Tripura</option>
                        <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                        <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                        <option value="West Bengal" stateid="41">West Bengal</option>
                      </select>
                    </td>
                    <td class="col-xs-3">
                        <input class="form-control input-sm tax_rate text-right product_new_rate"  placeholder="Rate">
                    </td>
                    <td class="col-xs-1">

                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
            </div>

          </div>


          <div class="col-sm-6" id="specifications">

          </div>


        </form>
        </div>
        <div class="btn-group-sm panel-footer">
          <div class="container-fluid">

          <button class="btn btn-success btn-sm" id="apsubmit" name="submit" accesskey="s" data-toggle="tooltip" data-placement="top" title="Press Insert key anywhere on the screen to save">{% trans %}<u>S</u>ave{% endtrans %}</button>
          <button id="apreset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
        </div>

        </div>


    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/addproduct.js')}}"></script>
</body>
