<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {{projectname}} {% trans %}Statement{% endtrans %}</title>

  <style type="text/css">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  #latable td {
    font-size: 75%;
    padding: 4 !important;
    margin: 4 !important;
  }

  #latable th {
    font-size: 85%;
  }

  #latable tbody {
      display:block;
      height: calc(100vh - 20em);
      overflow-y:scroll;
  }
  #latable thead,#latable tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  #latable thead {
      width: calc( 100% - 0.65em );
  }

  .card-view .title {
      font-weight: bold;
      display: inline-block;
      min-width: 30%;
      text-align: left !important;
  }

  .calign{
    text-align:center;
  }
  .lalign{
    text-align:left;
  }
  .ralign{
    text-align:right;
  }
  .dtwrap{
    width :5%
     }
 .smwrap{
  width:3%
 }
 .smwrap1{
 width:2.4%
 }

 .lngwrap{
  width:16%
 }
 .mdwrap{
  width:8%
 }

  </style>
</head>
<body>
  <table id="latable" class="table shadow table-bordered">
    <thead class="bg-primary">
      <tr>
        <th class="dtwrap calign">
          {% trans %}Invoice No{% endtrans %}
        </th>
        <th class="dtwrap calign">
          {% trans %}Date{% endtrans %}
        </th>
        <th class="mdwrap ralign">
          {% trans %}Invoice Amount{% endtrans %}
        </th>
        <th class="mdwrap ralign">
          {% trans %}Amount Pending{% endtrans %}
        </th>
        <th class="mdwrap ralign">
          {% trans %}Amount Paid{% endtrans %}
        </th>
      </tr>
    </thead>
    <tbody>
      {% if not gkresult %}
	<tr><td>No Data Found.</td></tr>
      {% endif %}
      {% for record in gkresult %}
      <tr	value="{{record["invid"]}}">
        <td class="dtwrap calign" >
          {{record["invoiceno"]}}
        </td>
        <td class="dtwrap calign">
          {{record["invoicedate"]}}
        </td>
        <td class="mdwrap ralign" >
          {{record["invoicetotal"]}}
        </td>
        <td class="mdwrap ralign" >
          {{record["pendingamount"]}}
        </td>
        <td class="mdwrap ralign" >
          <div class="form-group">
            <input type="text" class="amountpaid form-control input-sm rightJustified" value="">
          </div>
        </td>
      </tr>
      {% endfor %}

    </tbody>
  </table>
</body>
</html>
