
<head> </head>
<style type="text/css">
.shadow {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 80%;
}

th {
  font-size: 85%;
}

.calign{
    text-align:center;

}
  .ralign{
    text-align:right;

  }
.mdwrap{
	width:100%
}

.smwrap1{
	width:15%
}

.smwrap2{
  width:18%
}

.smwrap3{
  width:20%
}

.cred{
    color:red;
  }


</style>
<body>
  <div class="container-fluid "><center>
    {% if btype == '3' %}
    <h4> <b>Cash Budget Report </b> </h4></center>
    {% elif btype == '5' %}
    <h4> <b>Expense Budget Report </b> </h4></center>
    {% else %}
    <h4> <b>Sales Budget Report </b> </h4></center>
    {% endif %}

    <div class = "panel">
        <div ><center>
             <strong id="budgetdetails"> {{budgetdetail}} </strong> </center>
        </div>
        <div class="panel-body">
        {%if btype == '3'%}
        <div >
            <h><b>Total Opening Balance : </b></h>{{gkresult["totalopeningbal"]}}
        </div>
        <div class="table-responsive">
          <table id="mthltable" class="shadow table table-bordered table-condensed tabledesign" >
            <thead class="bg-primary">
			    <tr>
			      <th  class=" text-center">{% trans %}Particulars {% endtrans %} </th>
			      <th  class=" text-center sgstfield">{% trans %}Cash InFlow{% endtrans %}</th>
			      <th  class=" text-center sgstfield">{% trans %}Cash OutFlow{% endtrans %}</th>
			      <th  class=" text-center igstfield">{% trans %}Balance{% endtrans %}</th>
			    </tr>
			  </thead>
            <tbody>
                <tr >
                    <td> Budget Amount</td>
                    <td style="text-align:right"> {{gkresult["budgetIn"]}} </td>
                    <td style="text-align:right"> {{gkresult["budgetOut"]}} </td>
                    <td style="text-align:right"> {{gkresult["budgetBal"]}} </td>   
                </tr>
                <tr >
                    <td><h> Actuals </h> <br>
                    <div style="text-align:right">
                    {% for acc in gkresult["accData"] %}
                        {{acc["accountname"]}} <br>
                    {% endfor %}
                    </div>
                    </td>
                    <td style="text-align:right"><br>
                    {% for acc in gkresult["accData"] %}
                        {{acc["accDr"]}} <br>
                    {% endfor %}
                     </td>
                    <td style="text-align:right"><br>
                    {% for acc in gkresult["accData"] %}
                        {{acc["accCr"]}} <br>
                    {% endfor %}
                    </td>
                    <td style="text-align:right"><br>
                    {% for acc in gkresult["accData"] %}
                        {{acc["accBal"]}} <br>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left">Total</td>
                    <td style="text-align:right"> {{gkresult["totalDr"]}} </td>
                    <td style="text-align:right"> {{gkresult["totalCr"]}} </td>
                    <td style="text-align:right"> {{gkresult["budgetclosingbal"]}} </td> 
                </tr>
                <tr>
                    <td>Variance</td>
                    <td style="text-align:right"> {{gkresult["varDr"]}} </td>
                    <td style="text-align:right"> {{gkresult["varCr"]}} </td>
                    <td style="text-align:right"> {{gkresult["varBal"]}} </td> 
                </tr>
            </tbody>
            </table>
            <div >
            <h><b>Budget Closing Balance : </b></h>{{gkresult["budgetclosingbal"]}}
            {%elif btype== '5'%}
            <div>
                  <h><b>Total Previous Expense: </b></h>{{gkresult["totalpreviousbal"]}}
            </div>
            <div class="table-responsive">
                <table id="mthltable" class="shadow table table-bordered table-condensed tabledesign">
                  <thead class="bg-primary">
                <tr>
                  <th  class="smwrap text-center">{% trans %}Particulars {% endtrans %} </th>
                  <th  class="taxwrap text-center sgstfield">{% trans %}Budgeted Expense{% endtrans %}</th>
                  <th  class="taxwrap text-center sgstfield">{% trans %}Actual Expense{% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Budgeted Balance{% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Actual Balance{% endtrans %}</th>
                </tr>
                  </thead>
                  <tbody>
                <tr>
                    <td>
                    <div style="text-align:left">
                    {% for record in gkresult["accountdata"] %}
                      {{record["accountname"]}} <br>
                      {% endfor %}
                      </div>
                      
                    </td>
                    <td style="text-align:right">
                    {% for record in gkresult["accountdata"] %}
                      {{record["budgetamount"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right">
                    {% for record in gkresult["accountdata"] %}
                      {{record["actualamount"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right"> 
                    {% for record in gkresult["accountdata"] %}
                      {{record["accvariance"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right">
                    {% for record in gkresult["accountdata"] %}
                      {{record["budgetedbal"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right">
                    {% for record in gkresult["accountdata"] %}
                      {{record["actualbal"]}}<br> 
                      {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td >
                    Total
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalbudget"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalactual"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalvariance"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalbudgetedbal"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalactualbal"]}}
                    </td>
                </tr>
                  </tbody>
                </table>
                <h><b>Total Closing Expense: </b></h>{{gkresult["totalactual"]}}
            </div>
            {% else %}
            <div>
                  <h><b>Total Opening Balance: </b></h>{{gkresult["openingbal"]}}
            </div>
            <div class="table-responsive">
                <table id="mthltable" class="shadow table table-bordered table-condensed tabledesign">
                  <thead class="bg-primary">
                <tr>
                  <th  class="smwrap text-center">{% trans %}Particulars {% endtrans %} </th>
                  <th colspan = "2" class="taxwrap text-center sgstfield">{% trans %}Expenses{% endtrans %}</th>
                  <th colspan = "2" class="taxwrap text-center sgstfield">{% trans %}Sales{% endtrans %}</th>
                  <th  class="taxwrap text-center igstfield">{% trans %}Profit{% endtrans %}</th>
                </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td> Budget </td>
                      <td colspan = "2" style="text-align:right"> {{gkresult["budgetexpense"]}} </td>
                      <td colspan = "2" style="text-align:right"> {{gkresult["budgetincome"]}} </td>
                      <td style="text-align:right"> {{gkresult["budgetprofit"]}} </td>
                    </tr>
                    <tr>
                      <td> Actuals </td>
                      <td style="text-align:right">
                          {% for record in gkresult["expensedata"] %}
                            {{record["accountname"]}} <br>
                          {% endfor %}
                      </td> 
                      <td style="text-align:right">
                          {% for record in gkresult["expensedata"] %}
                            {{record["actual"]}} <br>
                          {% endfor %}
                      </td>
                      <td style="text-align:right"> 
                          {% for record in gkresult["incomedata"] %}
                            {{record["accountname"]}} <br>
                          {% endfor %}
                      </td >
                      <td style="text-align:right">
                          {% for record in gkresult["incomedata"] %}
                            {{record["actual"]}} <br>
                          {% endfor %}
                      </td>
                      <td>
                          
                      </td>
                    </tr>
                    <tr>
                        <td> Total </td>
                        <td colspan = "2" style="text-align:right"> {{gkresult["actualexpense"]}} </td>
                        <td colspan = "2" style="text-align:right"> {{gkresult["actualincome"]}} </td>
                        <td style="text-align:right"> {{gkresult["actualprofit"]}} </td>
                    </tr>
                    <tr>
                        <td> Variance </td> 
                        <td colspan = "2" style="text-align:right"> {{gkresult["varexpense"]}} </td>
                        <td colspan = "2" style="text-align:right"> {{gkresult["varincome"]}} </td>
                        <td style="text-align:right"> {{gkresult["varprofit"]}} </td>
                    </tr>
                  </tbody>
                </table>
                <h><b>Total Closing Balance: </b></h>{{gkresult["closingbal"]}}
            </div>
            {%endif%}
        </div>
        </div>
        </div>   
      </div>
      <center>
        <button type="button" class="btn btn-sm btn-danger " id="back" name="back" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>
        <button class="btn btn-sm btn-primary" type="button"  id="spreadsheet" accesskey="x">{% trans %}<i class="fa fa-file-excel-o" aria-hidden="true"></i> E<u>x</u>port to Spreadsheet{% endtrans %}</button>    
        <button type="button" class="btn btn-sm btn-info" id="printversion" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> View Prin<u>t</u>able Version{% endtrans %}</button>      
      </center>
    </div>
    <input type="hidden" id="btype" value="{{btype }}">
    <input type="hidden" id="budid" value="{{ budid }}">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/budgetreport.js')}}"></script>
</body> 