<head> </head>
<style type="text/css">
.shadow {
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 80%;
}

th {
  font-size: 85%;
}

.calign{
    text-align:center;

}
  .ralign{
    text-align:right;

  }
.mdwrap{
	width:6%
}

.smwrap1{
	width:15%
}

.smwrap2{
  width:18%
}

.smwrap3{
  width:20%
}

.cred{
    color:red;
  }


</style>
<body>
  <div class="container-fluid ">
    <div class = "panel">
        <div class="panel heading"><center>
            <span style="margin:auto; display:table;"> {{budgetdetail}} </span></center>
        </div>
        <div class="panel-body">
        <div class="table-responsive">
          <table id="mthltable" class="shadow table table-bordered table-condensed tabledesign">
          {% if "groupname" in gkresult[0] %}
            <thead class="bg-primary">
			    <tr>
			      <th rowspan="2" class="smwrap text-center">{% trans %}Particulars {% endtrans %} </th>
			      <th rowspan="2" class="taxwrap text-center sgstfield">{% trans %}Budget{% endtrans %}</th>
			      <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}Actuals{% endtrans %}</th>
			      <th rowspan="2" class="taxwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
			    </tr>
			    <tr>
			      <th class="sgstfield text-center">{% trans %}<small>Total Cr </small>{% endtrans %} </th>
			      <th class="sgstfield text-center">{% trans %}<small>Total Dr </small>{% endtrans %}</th>
			    </tr>
			  </thead>
            <tbody>
                {% for record in gkresult %}
                <tr >
                    <td> <b>{{record["groupname"]}}</b> <br> 
                    <div style="text-align:right">
                    {% for account in record["accountdata"] %}
                        <small ><i >{{account["accountname"]}}</i></small><br>
                    {% endfor %} 
                    </div>
                    </td>
                    <td> {{record["budget"]}} 
                    {% for account in record["accountdata"] %}
                    <br> --
                    {% endfor %}
                    </td>
                    <td> 
                    --<br>
                    {% for account in record["accountdata"] %}
                        <small><i>{{account["totalcr"]}}</i></small><br>
                    {% endfor %}
                    </td>
                    <td> 
                    --<br>
                    {% for account in record["accountdata"] %}
                        <small><i>{{account["totaldr"]}}</i></small><br>
                    {% endfor %}
                    </td>
                    <td>  
                    
                    {% for account in record["accountdata"] %}
                    --<br>
                    {% endfor %}
                    {% if record["vartype"] == 'Dr'%}
                        (+{{record["variance"]}})
                    {% elif record["vartype"] == 'Cr'%}
                        (-{{record["variance"]}})
                    {% else %}
                        {{record["variance"]}}
                    {% endif %}
                    </td>
                </tr>
                {% endfor %}
                <tr >
                    <td> Budget Total </td>
                    <td> {{total[0]["totalBudget"]}} </td>
                    <td> {{total[0]["budgetCr"]}} </td>
                    <td> {{total[0]["budgetDr"]}}</td>
                    <td> {{total[0]["totalVariance"]}}</td>
                </tr>
            </tbody>
            {% else %}
            <thead class="bg-primary">
			    <tr>
			      <th rowspan="2" class="smwrap text-center">{% trans %}Particulars {% endtrans %} </th>
			      <th rowspan="2" class="taxwrap text-center sgstfield">{% trans %}Budget{% endtrans %}</th>
			      <th colspan="2" class="taxwrap text-center sgstfield">{% trans %}Actuals{% endtrans %}</th>
			      <th rowspan="2" class="taxwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
			    </tr>
			    <tr>
			      <th class="sgstfield text-center">{% trans %}<small>Total Cr </small>{% endtrans %} </th>
			      <th class="sgstfield text-center">{% trans %}<small>Total Dr </small>{% endtrans %}</th>
			    </tr>
			  </thead>
            <tbody>
                {% for record in gkresult %}
                <tr >
                    <td>{{record["accountname"]}}  </td>
                    <td> {{record["budget"]}} </td>
                    <td> {{record["totalcr"]}} </td> 
                    <td> {{record["totaldr"]}} </td>
                    <td>
                    {% if record["vartype"] == 'Cr' %}
                        (-{{record["variance"]}})
                    {% elif record["vartype"] == 'Dr' %}
                        (+{{record["variance"]}})
                    {% else %}
                        {{record["variance"]}}
                    {% endif %}
                     </td>
                </tr>
                {% endfor %}
                <tr >
                    <td> Budget Total </td>
                    <td> {{total[0]["totalBudget"]}} </td>
                    <td> {{total[0]["budgetCr"]}} </td>
                    <td> {{total[0]["budgetDr"]}}</td>
                    <td> {{total[0]["totalVariance"]}}</td>
                </tr>
            </tbody>
            {% endif %}
            </table>
        </div>
        </div>    
        </div>
    </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/budgetreport.js')}}"></script>
</body> 