<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
  <style>
  .content{ margin-top:4%
  }
  </style>



</head>
<body>

  <div class="col-md-6 pull-left" style="margin-top:50px;">
    <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px;">
     <h3 style="margin-top:2px;">Welcome To GNUKhata </h3>
     <h4>A Free and Open Source Accounting Software</h4>
   </div>
   <div style="padding: 2px 2px 2px 2px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top: 10px;">
     <h4>Features of GNUKhata</h4>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #4c6272; background-color: #e3f5fc; margin-right: 15px; margin-top: 0px;">
     <p style="margin-top: 5px;">It is Lightweight</p>
     <p>It can scale upto a cloud based deployment or down to a standalone installation</p>
     <p> It is Fast and Robust</p>
     <p> It can be deployed for profit making and non profit Organisations</p>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top: 10px;">
    <p>GNUKhata is developed by <b>Digital Freedom Foundation(DFF)</b> and is currently funded by <b>International Centre for Free and Open Source Software(ICFOSS).</b></p>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top:10px;">
     <p style="text-align: right; font-size: 0.9em;">Copyright © Digital Freedom Foundation 2013,2014,2015,2016. Visit <a href="http://gnukhata.in">gnukhata.in</a> for more information.</p>
     <p style="text-align: right; font-size: 0.9em; margin-top: -10px; margin-bottom: 0px">This software is licensed under GNU AGPLv3. You may use a newer version of the same license.</p>
   </div>
  </div>
  <div class="container">

    <div class="row clearfix">
      <div id="createtorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">
        <div class="alert alert-danger" id="orgname-blank-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          Please enter organisation name!
        </div>
        <div class="alert alert-danger" id="date-blank-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          Please enter Date!
        </div>
        <div class="alert alert-danger" id="date-improper-alert" hidden>
          <a href="#" class="close" aria-label="close">&times;</a>
          Improper Date!
        </div>
        <div class="panel panel-info" >
          <div class="panel-heading">
            <div class="panel-title">Create Organisation</div>
          </div>
          <div style="padding-top:30px" class="panel-body" >

            <form id="createorgform"  role="form">
              <div class="form-group">
                <label for="orgname"><u>O</u>rganisation Name:</label>
                <input name="orgname" class="form-control" placeholder="Enter Organisation Name" id="orgname" type="text" data-validation-required-message="Please Enter Organisation Name" accesskey="o"/>
                <br/>

                <label for="orgcase"><u>C</u>ase</label>
                <select name="orgcase" class="form-control" id="orgcase" accesskey="c">
                  <option value="As-Is">As-is</option>
                  <option value="Upper Case">Upper Case</option>
                  <option value="Lower Case">Lower Case</option>
                  <option value="Title Case">Title Case</option>
                </select>

                <br/>

                <label for="orgtype">Organisation <u>T</u>ype:</label>
                <select name="orgtype" class="form-control" id="orgtype" data-validation-required-message="Please select Organisation Type" accesskey="t">
                  <option value="Profit Making">Profit Making</option>
                  <option value="Not For Profit">Not For Profit</option>
                </select>

                <br/>

                <label for="financialdate"><u>F</u>inancial Year:</label>

                <div class="form-inline">

                  <label class="sr-only" for="fromday">Enter From Day</label>
                  <input type="text" id="fromday" name="fromday" class="form-control vdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" accesskey="f" >

                  <label class="sr-only" for="frommonth">Enter From Month</label>
                  <input type="text" id="frommonth" name="frommonth" class="form-control vdate" size="2" maxlength="2" style="width:60px"  placeholder="MM" >

                  <label class="sr-only" for="fromyear">Enter From Year</label>
                  <input type="text" id="fromyear" name="fromyear" class="form-control vdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >

                  <label>--To--</label>

                  <label class="sr-only" for="today">Enter To Day</label>
                  <input type="text" id="today" name="day" class="form-control vdate" size="2" maxlength="2" style="width:60px"  placeholder="DD" >

                  <label class="sr-only" for="tomonth">Enter To Month</label>
                  <input type="text" id="tomonth" name="tomonth" class="form-control vdate" size="2" maxlength="2" style="width:60px"  placeholder="MM"  >

                  <label class="sr-only" for="toyear">Enter To Year</label>
                  <input type="text" id="toyear" name="toyear" class="form-control vdate" size="4" maxlength="4" style="width:65px"  placeholder="YYYY"  >


                </div>
                <br />
                <button class="btn btn-success" id="btnsubmit" type="submit" accesskey="p"><span class="glyphicon glyphicon-arrow-right"></span><u>P</u>roceed</button>
              </div>


            </form>

          </div>
        </div>

      </div>
    </div>
  </div>



  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.autotab.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createorg.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/date.js')}}"></script>

  </body>
  </html>
