<style>
.panel{

background-color: #fff;
border: 0px solid ;
border-radius: 5px;
}

.table{
    width:100%;
    overflow:hidden;
    display:block;
}

</style>
  <body>
    <div class="container-fluid" style="padding:1 !important; margin:0 !important;">
      <div class="panel shadow" style="border: 1px solid ;">
        <div class="panel panel-body">
          <div class="panel col-md-4" style="border-radius: 4px; padding-bottom:2%;padding-top:1%">
            {# ----------------------------- ALERTS ------------------------ #}
              <div class="alert alert-danger" id="c_date-alert" aria-live="rude" role="alert" hidden>
                <label for="budget_fromday">{% trans %}From Date should be prior or equal to To Date!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_date-valid-alert" aria-live="rude" role="alert" hidden>
                <label for="budget_fromday">{% trans %}Please enter valid date!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_between-date-alert" aria-live="rude" role="alert" hidden>
                <label for="budget_fromday">{% trans %}Please enter date from within the financial year!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_compare-date-alert" aria-live="rude" role="alert" hidden>
                <label for="budget_today">{% trans %}From Date should be smaller or equal to To Date !{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_blank-name-alert" aria-live="rude" role="alert" hidden>
                <label for="bname">{% trans %}Please enter budget name!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_btype-alert" aria-live="rude" role="alert" hidden>
                <label for="btype">{% trans %}Please select budget type{% endtrans %}</label>
              </div>
              <div class="alert alert-success" id="c_success-alert" aria-live="rude" role="alert" hidden>
                <label for="btype">{% trans %}Budget added successfully!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_inflow-alert" aria-live="rude" role="alert" hidden>
                <label for="btype">{% trans %}Please enter budget inFlow!{% endtrans %}</label>
              </div>
              <div class="alert alert-danger" id="c_outflow-alert" aria-live="rude" role="alert" hidden>
                <label for="btype">{% trans %}Please enter budget outFlow!{% endtrans %}</label>
              </div>
            {# ----------------------------- ALERTS ------------------------ #}
              <form id="c_addbudget" method="post"  class="form-horizontal">
              <div class="col-md-12" style="margin-top:2%">
                <label for="c_btype" id="pwdconfirm">{% trans %}Budge<u>t</u> Type{% endtrans %} :</label>
                <select name="btype" style="border-radius: 4px" id="c_btype" type="text" class="form-control input-sm" accesskey="t">
                  <option value="" disabled selected hidden>{% trans %}Select budget type{% endtrans %}</option>
                  <option value="3">{% trans %}Cash{% endtrans %}</option> 
                  <option value="5">{% trans %}Expense{% endtrans %}</option>
                </select>
              </div>
              <div class="col-md-12" style="margin-top:2%">
                  <div style="margin-bottom: 10px" class="input-group col-xs-12">
                    <label for="c_bname" >{% trans %}<u>B</u>udget Name{% endtrans %} :</label>
                    <input style="border-radius: 4px" id="c_bname" type="text" class="form-control input-sm" name="username" accesskey="b"></input>
                  </div>
              </div>
              <div class="col-md-12">
                <label for="c_budget_fromday">{% trans %}From Date{% endtrans %} :</label>
                <div class="form-inline input-group col-xs-12" >
                  <input type="text" style="float:left;width:45px;" class="budget_date dis form-control input-sm common numtype" id="c_budget_fromday"  size="2" maxlength="2" placeholder="DD">
                  <input type="text" style="float:left;width:45px;margin-left:2%" id="c_budget_frommonth" class="budget_date dis form-control input-sm common numtype"  size="2" maxlength="2" placeholder="MM">
                  <input type="text" style="float:left;width:55px;margin-left:2%" id="c_budget_fromyear" class="budget_date dis form-control input-sm common numtype"  size="4" maxlength="4" placeholder="YYYY">
                </div>
                <br>
                <label for="c_budget_today">{% trans %}To Date{% endtrans %} :</label>
                <div class="form-inline input-group col-xs-12" >
                  <input type="text" style="float:left;width:45px;" class="budget_date form-control input-sm dis common numtype" id="c_budget_today" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
                  <input type="text" style="float:left;width:45px;margin-left:2%" id="c_budget_tomonth" class="budget_date form-control input-sm dis common numtype" value="" size="2" maxlength="2" placeholder="MM">
                  <input type="text" style="float:left;width:55px;margin-left:2%" id="c_budget_toyear" class="budget_date form-control input-sm dis common numtype" value="" size="4" maxlength="4" placeholder="YYYY">
                </div>
              </div>
              <br>
              <div id="c_flow" class="col-md-12">
                <div style="margin-bottom: 10px;margin-top: 10px;" class="input-group col-xs-12">
                  <label  >{% trans %}<i>Opening Balance</i>{% endtrans %} :</label> <b id = "c_balance" > </b><br>
                  <label for="c_inflow" >{% trans %}Inflow{% endtrans %} :</label>
                  <input style="border-radius: 4px" id="c_inflow" type="text" class="form-control input-sm text-right numtype"  value="0.00" placeholder="0.00"></input>
                </div>
                  <label  >{% trans %}<i>Cash Available</i>{% endtrans %} :</label> <b id = "c_cashavailable" > </b><br>
                  <div style="margin-bottom: 10px" class="input-group col-xs-12">
                    <label for="c_outflow" >{% trans %}Outflow{% endtrans %} :</label>
                    <input style="border-radius: 4px" id="c_outflow" type="text" class="form-control input-sm text-right common numtype"  value="0.00" placeholder="0.00"></input>
                  </div>
                  <label  >{% trans %}<i>Budgeted Balance</i>{% endtrans %} :</label> <b id = "c_budgetbalance" > </b><br>
              </div>
          </div> {# main body #}

          <div class="panel col-md-8" id="c_accounttable" style="float:right;padding-left:8%;">
            {# <div id="c_accounttable" style="float:right;padding-left:8%;" class="panel col-md-12"> #}
              {# -----account table div-------- file:createbudgetaccounttable.jinja2 #}
            {# </div> #}
          </div> 
          
        </div> {# body #}
        <div class="panel-footer" style="padding-left:3%">
              <button type="submit" id="c_add_button" class="btn btn-success btn-sm" accesskey="a">{% trans %}<i class="fa fa-floppy-o" aria-hidden="true"></i>S<u>a</u>ve{% endtrans %}</button>
              <button id="c_reset_button" class="btn btn-warning btn-sm" accesskey="e">{% trans %}<i class="fa fa-refresh" aria-hidden="true"></i> Res<u>e</u>t{% endtrans %}</button>
        </div>   {# footer #}
      </div> {# panel #}
    </div>
  </body>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createbudget.js')}}"></script>
