<!DOCTYPE html>
<html>
<head>

	<link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
	<title>
		GNUKhata
	</title>

	<style>
	.login-box{
		background-color: rgba(220, 225,225,0.4);
	}

	</style>

</head>
<body>
<div class="container-fluid">


		<div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3">
			<div class="panel panel-info" >
				<div class="panel-heading">
					<div class="panel-title">Create Admin</div>

				</div>

				<div style="padding-top:30px" class="panel-body" >


					<form id="loginform" class="form-horizontal">

						<div style="margin-bottom: 25px" class="col-xs-12 from-group">

							<label for="username"><u>U</u>sername</label>
							<input type="text" id="username" class="form-control" name="username" required data-msg="Please enter username" accesskey="u"></input>
							<br/>
							<label for="password"><u>P</u>assword</label>
							<input type="password" id="password" class="form-control" name="password" required data-msg="Please enter password" accesskey="p"></input>
							<br/>
							<label for="confirmpassword"><u>C</u>onfirm Password</label>
							<input type="password" name="confirmpassword" id="confirmpassword" class="form-control" value="" required data-msg="Passwords do not match" accesskey="c"></input>
							<br/>
							<label for="securityanswer">Security <u>Q</u>uestion</label>
							<input type="text" class="form-control" value="" id="securityquestion" name="securityquestion" required data-msg="Please enter security question" accesskey="q"></input>
							<br/>
							<label for="securityanswer">Security <u>A</u>nswer</label>
							<input type="text" class="form-control" value="" id="securityanswer" name="securityanswer" required data-msg="Please enter security question" accesskey="a"></input>
							<input type="hidden" class="form-control" value="{{orgname}}" id="orgname" name="orgname"></input>
							<input type="hidden" class="form-control" value="{{orgtype}}" id="orgtype" name="orgtype"></input>
							<input type="hidden" class="form-control" value="{{fromdate}}" id="yearstart" name="yearstart"></input>
							<input type="hidden" class="form-control" value="{{todate}}" id="yearend" name="yearend"></input>
							<br/>
							<button type="submit" class="btn btn-success" accesskey="l">Create & <u>L</u>ogin</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
	<script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/createadmin.js')}}"></script>


</body>

</html>
