<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Account Creation</title>

</head>
<body >
	<form id="accountform" method="post"  action="addaccount" class="form-horizontal">
		<div  class="col-md-6" >


			<label for="groupname">Group Name :</label>
			<div style="margin-bottom: 25px" class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
				<select class = "form-control" id="groupname"  name = "groupname">
					<option value="" disabled selected hidden>Select Group</option>
					{% for grps in gkresult %}
					<option value="{{grps}}">{{grps["groupname"]}}</option>
					{% endfor %}
				</select>
			</div>

			<label for="subgroupname">Sub-Group Name :</label>
			<div style="margin-bottom: 25px" class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-th-list"></i></span>
				<select class = "form-control" id="subgroupname" name="subgroupname" >
					<option value="" disabled selected hidden>Select Sub-Group</option>
				</select>
			</div>

			<label> <input type="checkbox"> Create Multiple Accounts</label>

			<label for="accountname">Account Name :</label>
			<div style="margin-bottom: 25px" class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
				<input type="text" id="accountname" class="form-control" name="accountname" placeholder="Accountname" required></input>
			</div>

			<label for="openbal">Opening Balance :</label>
			<div style="margin-bottom: 25px" class="input-group">
				<span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
				<input id="openbal" name="openbal" value="0.00" class=" form-control" type="text" placeholder="0.00"/>
			</div>

			<div style="margin-top:10px">
				<button type="submit" class="btn btn-primary" id="submit" name="submit">Submit</button>
				<button id="reset" class="btn btn-danger">Reset</button>
			</div>

		</div>

	</form>

	<script>
	$(document).ready(function()
	{

		$("#groupname").bind("change keyup", function(){

			var groups = $("#groupname option:selected").val();
			var grpobj = eval('('+groups+')');

			$.ajax({
				type: "POST",
				url: "/getsubgroup",
				data: grpobj ,
				global: false,
				async: false,
				dataType: "json",
				beforeSend: function(xhr)
				{
					xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
				},
				success: function(jsonObj) {
					subgroups = jsonObj["gkresult"],
					$('#subgroupname').empty();
					for (i in subgroups ) {
						$('#subgroupname').append('<option value="' + subgroups[i].subgroupcode + '">' +subgroups[i].subgroupname+ '</option>');
					}
				}

			});
		});

		$("#accountform").submit(function(e)
		{
			var ob = $('#openbal').val();
			if(ob=="")
			{
				$('#openbal').val("0.00");
			}
			$.ajax(
				{

					type: "POST",
					url: "/addaccount",
					global: false,
					async: false,
					datatype: "json",
					data: $("#accountform").serialize(),
					beforeSend: function(xhr)
					{
						xhr.setRequestHeader('gktoken',sessionStorage.gktoken );
					},
					success: function(resp)
					{

						alert(resp["gkstatus"])
					}

				}
			);

			e.preventDefault();
		}
	);




});
</script>
</body>
</html>
