<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}GNUKhata | Customer and Supplier List{% endtrans %}</title>
  </head>
  <body>
    <div class="container-fluid">
      <div class="panel">
	<div class="panel-heading">
	  <strong>Unadjusted Bills</strong><strong><span id="cstitle" hidden> for </span><span id="csname"></span></strong>
	</div>
	<div class="panel-body">
	  <div class="container-fluid col-sm-12">
	      <form class="form-inline">
		<div class="form-group col-sm-3">
		  <label for="customerselect">{% trans %}List of Cus<u>t</u>omers{% endtrans %} :</label>
		  <select id="customerselect" class="form-control input-sm" accesskey="t">
		    <option value="" disabled hidden selected>{% trans %}Select Customer{% endtrans %}</option>
		    {% for customer in customers %}
                      <option value="{{customer['custid']}}">{{customer["custname"]}}</option>
		    {% endfor %}
		  </select>
	      </div>
	      <div class="form-group col-sm-3">
		<label for="supplierselect">{% trans %}List of <u>S</u>uppliers{% endtrans %} :</label>
		  <select id="supplierselect" class="form-control input-sm" accesskey="s">
		    <option value="" disabled hidden selected>{% trans %}Select Supplier{% endtrans %}</option>
		    {% for supplier in suppliers %}
                      <option value="{{supplier['custid']}}">{{supplier["custname"]}}</option>
		    {% endfor %}
		  </select>
	      </div>
	      </form>
	    </div>
	    <div class="container-fluid row" id="billwisediv">
	    </div>
	  </div>
	  <div class="panel-footer" hidden>
	    <button type="button" id ="btasadv" class="btn footerbutton btn-primary">{% trans %}Add As Advance{% endtrans %}</button>
	    <button type="button" id ="btonacc" class="btn footerbutton btn-danger">{% trans %}Add On Account{% endtrans %}</button>
	    <button type="button" id ="btbillwise" class="btn footerbutton btn-info">{% trans %}Bill Wise Accounting{% endtrans %}</button>
            <button type="button" id ="btclose" class="btn footerbutton btn-success">{% trans %}Done{% endtrans %}</button>
          </div>
	</div>
    </div>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/customersupplierlist.js')}}"></script>
  </body>
</html>
