<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Delete Company{% endtrans %}</title>
   <style media="screen">
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label {
  		font-size: 90%;
  	}
    div.container {
        width:650px;
        height:500px;
        margin: auto;
    }
    </style>
</head>
<body>
  <div style="padding-top:30px" class='container'>
      <div class="alert alert-danger" id="paswd-alert" aria-live="rude" role="alert" hidden>
          {% trans %}Password is incorrect!{% endtrans %}
        </div>
    <div class="row">
      <div class="panel shadow">
        <div class="panel-heading">
       <span style="font-size:17px;"> Delete Company? </span>
        </div>
        <div class="panel-body " >
	    <div class="content">
                <div class="header"></div>
                <div class="body">
                <div style="text-align: justify; text-justify: inter-word;">
                        <p>
              <b> You are about to delete this company. This will destroy all the data related to this company such as company details, preferences, accounts, vouchers, documents, attachments etc.</b><br><b>Please proceed if you are absolutely sure of what you are doing and the subsequent implications. </b>
                        </p>
                  </div>
                </div>
                <div class="-footer">
                    <p><b>{% trans %}Are you sure?{% endtrans %}</b></p>
                        <button type="button" id="orgdel" class="btn btn-danger btn-sm"><i class="fa fa-check" aria-hidden="true"></i> Yes</button>
                        <br><br>
                        <div id="deletebutton" class="row col-xs-12" hidden>
                            <p><b for="userpassword">{% trans %}Enter your password :{% endtrans %}</b></p>
                          <input id="userpassword" style="border-radius: 4px" type="text" class="form-control col-xs-12" name="userpassword" accesskey="p"></input><br>
                          <button type="button" id="confdel" class="btn btn-danger btn-sm" style="margin-top: 10px;"><i class="fa fa-check" aria-hidden="true"></i> Delete</button>
                        </div>
                       
                      </div>
                     
	    </div><!-- /.-content -->
      </div><!-- /.-dialog -->
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/deletecompany.js')}}"></script>      
</body>
</html>
      