<!DOCTYPE html>
<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}INVOICE{% endtrans %}</title>
<body>
  <div class="panel invoice_panel shadow">
    <div class="panel-body">
      <div class="container-fluid row">
	<div class="row">
	  <div class="col-sm-6 form-group">
	    <label for="invselect" id="selectinvoice">{% trans %}List of Invoices{% endtrans %} :</label>
            <select class = "form-control input-sm wide" name = "productcode" id="invselect" >
              <option value="" disabled selected hidden>{% trans %}Select Product / Service{% endtrans %}</option>
              {% for invoice in gkresult %}
		<option value="{{invoice['invid']}}">{{invoice["invoiceno"]}}, {{invoice["invoicedate"]}}, {{invoice["custname"]}}</option>
              {% endfor %}
            </select>
	  </div>
	</div>
	<div class="row" id="invdetailsdiv">
	  
	</div>
      </div>
    </div>
  </div>
  
  <div class="panel-footer" id="viewinvfooter" hidden>
    <div class="container-fluid btndisablediv">
      <button id="invoice_editprint" class="btn btn-primary btn-sm" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
      <button class="btn btn-info btnfocus btn-sm" id="viewattach" accesskey="h"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}View Attac<u>h</u>ment{% endtrans %}</button>
    </div>
  </div>

  <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
    <div class="vertical-alignment-helper">
      <div class="modal-dialog modal-sm vertical-align-center">
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">{% trans %}Cancel?{% endtrans %}</h4>
          </div>
          <div class="modal-body">
            <p>{% trans %}Are you sure?{% endtrans %}</p>
          </div>
          <div class="modal-footer">
            <button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal"><i class="fa fa-close" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
            <button type="button" id="invcancel" data-dismiss="modal" class="btn btn-danger"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
  </div><!-- /.modal -->

  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editinvoice.js')}}"></script>
</body>
