<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>

    <div class='container-fluid '>
      <label for="prodselect" class="">{% trans %}Product{% endtrans %} :</label>
      <select class = "form-control input-sm"  name = "prodselect" id="prodselect" >
        <option value="" disabled selected hidden>{% trans %}Select Category{% endtrans %}</option>
        {% for prod in gkresult %}
        <option value="{{prod['productcode']}}">{{prod["productdesc"]}}</option>
        {% endfor %}
      </select>
      <div class="container-fluid nopadding" id="proddetails">

      </div>
    </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editproduct.js')}}"></script>
  </body>
</html>
