<div class="col-sm-6">

  <div class="form-group">
    <label for="proddesc" class="">{% trans %}Product Description{% endtrans %} :</label>
    <input type="text" class="form-control input-sm" name="proddesc"  value="{{gkresult['proddesc']['productdesc']}}" id="proddesc" placeholder="Alphanumeric">
  </div>
  <div class="form-group">
    <label for="catselect" class="">{% trans %}Category{% endtrans %} :</label>
    <select class = "form-control input-sm "  name = "catselect" id="editcatselect" >
      {% for cat in gkresult["category"] %}
      {% if cat['categorycode']== gkresult["proddesc"]["categorycode"] %}
      <option value="{{cat['categorycode']}}" selected>{{cat["categoryname"]}}</option>
      {% else %}
      <option value="{{cat['categorycode']}}" >{{cat["categoryname"]}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
  <div class="form-group">
    <label for="uom" class="">{% trans %}Unit of Measurement{% endtrans %} :</label>
    <select class = "form-control input-sm "  name = "uom" id="edituom" >
      {% for uom in gkresult["uom"] %}
      {% if uom["uomid"]== gkresult["proddesc"]["uomid"] %}
      <option value="{{uom['uomid']}}" selected>{{uom["unitname"]}}</option>
      {% else %}
      <option value="{{uom['uomid']}}">{{uom["unitname"]}}</option>
      {% endif %}
      {% endfor %}
    </select>
  </div>
</div>
<div id = "editspecifications">

<div class="col-sm-6">
  <div class="panel">

    <div class="panel-body">
      <div class="text-center">
        <label  class=""><strong> <u>{% trans %}Specifications{% endtrans %}</u></strong> </label>
      </div>

      <div class="form-group ">
        {% for spec in gkresult["prodspecs"] %}
        {% for pdesc in gkresult["proddesc"]["specs"] %}
        {% if spec['spcode']|int == pdesc|int %}
        <div class="form-group">

          <label for="{{spec['spcode']}}" class="">{{spec["attrname"]}} :</label>
          {% if spec["attrtype"]==0 %}
          <input type="text" class="form-control input-sm" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{gkresult['proddesc']['specs'][pdesc]}}" placeholder="Alphanumeric">
          {% elif spec["attrtype"]==1 %}
          <input type="text" class="form-control input-sm numtype" name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{gkresult['proddesc']['specs'][pdesc]}}" placeholder="Numeric">
          {% elif spec["attrtype"]==2 %}
          <input type="text" class="form-control input-sm " name="{{spec['spcode']}}"  id="{{spec['spcode']}}" value="{{gkresult['proddesc']['specs'][pdesc]}}" placeholder="Date">
          {% elif spec["attrtype"]==3 %}
          {% if gkresult['proddesc']['specs'][pdesc]|int ==1 %}
          <label class="radio-inline"><input value = "1" class="radtype" type="radio" name="{{spec['spcode']}}" checked>{% trans %}Yes{% endtrans %}</label>
          <label class="radio-inline"><input value = "0" class=" radtype" type="radio" name="{{spec['spcode']}}">{% trans %}No{% endtrans %}</label>
          {% else %}
          <label class="radio-inline"><input value = "1" class="radtype" type="radio" name="{{spec['spcode']}}">{% trans %}Yes{% endtrans %}</label>
          <label class="radio-inline"><input value = "0" class=" radtype" type="radio" name="{{spec['spcode']}}" checked>{% trans %}No{% endtrans %}</label>
          {% endif %}
          {% endif %}
        </div>
        {% endif %}
        {% endfor %}

        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
