<body >
	<div class="panel shadow col-sm-6" >
		<div class="panel-body" >
			<div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>
				<a href="" class="close" aria-label="close">&times;</a>
				{% trans %}Godown edited successfully.{% endtrans %}
			</div>

			<div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>
				<a href="" class="close" aria-label="close">&times;</a>
				{% trans %}Godown deleted successfully.{% endtrans %}
			</div>

			<div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>
				<a href="" class="close" aria-label="close">&times;</a>
				{% trans %}Godown could not be edited.{% endtrans %}
			</div>
			<div class="alert alert-danger" id="duplicate-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Godown already exists!{% endtrans %}
			</div>

			<div class="alert alert-danger" id="transaction-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Godown cannot be deleted!{% endtrans %}
				{% trans %}Goods might be there in this godown.{% endtrans %}
			</div>
			<div class="alert alert-danger" id="blank-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Please enter godown name!{% endtrans %}
			</div>

			<div class="alert alert-danger" id="addressblank-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Please enter address!{% endtrans %}
			</div>

			<div class="alert alert-danger" id="contactblank-alert"  aria-live="rude" role="alert" hidden>

				{% trans %}Please enter contact!{% endtrans %}
			</div>

			<div class="form-group">
				<label for="editgodownname" id="godname">{% trans %}Godown Name{% endtrans %} :</label>
				<select class = "form-control input-sm" id="editgoddet">
					<option value="" disabled selected hidden>{% trans %}Select Godown{% endtrans %}</option>
					{% for gods in gkresult %}
					<option value="{{gods['godownid']}}">{{gods["godownname"]}}</option>
					{% endfor %}
				</select>
			</div>
			<div id="editgodownform" hidden>
				<div class="from-group">
					<label for="godownname" id="godownname">{% trans %}Godown Name{% endtrans %} :</label>
					<input type="text" id="goname" name="goname" class="form-control input-sm" value=""></input>
				</div>
				<div class="form-group">
					<label for="godownaddress" id="godownaddress">{% trans %}Godown Address{% endtrans %} :</label>
					<input type="text" id="goaddress" name="goaddress" class="form-control input-sm" value=""></input>
				</div>
				<div class="form-group">
					<label for="godowncontact" id="godowncontact">{% trans %}Godown Contact{% endtrans %} :</label>
					<input type="text" id="gocontact" class="form-control input-sm" name="gocontact"></input>
				</div>
				<input type="hidden" id="goid" class="form-control" name="goid" ></input>
			</div>
			<div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
				<div class="vertical-alignment-helper">
					<div class="modal-dialog modal-sm vertical-align-center">
						<div class="modal-content">
							<div class="modal-header">

								<h4 class="modal-title">{% trans %}Delete?{% endtrans %}</h4>
							</div>
							<div class="modal-body">
								<p>{% trans %}Are you sure?{% endtrans %}</p>
							</div>
							<div class="modal-footer">
								<button type="button" id ="m_cancel" class="btn btn-warning" data-dismiss="modal">{% trans %}Cancel{% endtrans %}</button>
								<button type="button" id="goddel" data-dismiss="modal" class="btn btn-danger">{% trans %}Delete{% endtrans %}</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div>
			</div><!-- /.modal -->
		</div>
		<div id="form-footer" class="panel-footer row" hidden>
			<div class="container-fluid">
				<button type="submit" class="btn btn-primary btn-sm" id="egdnsubmit" name="submit" accesskey="s">{% trans %}<u>S</u>ave{% endtrans %}</button>
				<button id="reset" class="btn btn-warning btn-sm" accesskey="e">{% trans %}R<u>e</u>set{% endtrans %}</button>
				<button id="delete" class="btn btn-danger btn-sm" accesskey="d">{% trans %}<u>D</u>elete{% endtrans %}</button>
				<button id="edit" class="btn btn-danger btn-sm" accesskey="t">{% trans %}Edi<u>t</u>{% endtrans %}</button>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editgodown.js')}}"></script>
</body>
