<style>
.panel{
margin-bottom: 20px;
background-color: #fff;
border: 1px solid transparent;
border-radius: 5px;
}

.table{
    width:100%;
    overflow:hidden;
    display:block;
}

</style>
<body>
  <div class="container-fluid" style="padding:1 !important; margin:0 !important;">
    <div class="panel shadow" style="border: 1px solid ;">
      <div class="panel-body" >
        <i class="fa fa-question-circle pull-right" style="font-size:16px"data-toggle="modal" data-target="#accModal"></i>

        <div class="panel col-md-4" >

        {# ---------------------ALERTS -------------------- #}
          <div class="alert alert-danger" id="date-alert" aria-live="rude" role="alert" hidden>
          <label for="budget_fromday">{% trans %}From Date should be prior or equal to To Date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-valid-alert" aria-live="rude" role="alert" hidden>
            <label for="budget_fromday">{% trans %}Please enter valid date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="between-date-alert" aria-live="rude" role="alert" hidden>
            <label for="budget_fromday">{% trans %}Please enter date from within the financial year!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="compare-date-alert" aria-live="rude" role="alert" hidden>
            <label for="budget_today">{% trans %}From Date should be smaller or equal to To Date !{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="blank-name-alert" aria-live="rude" role="alert" hidden>
            <label for="bname">{% trans %}Please enter budget name!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="btype-alert" aria-live="rude" role="alert" hidden>
            <label for="btype">{% trans %}Please select budget type{% endtrans %}</label>
          </div>
          <div class="alert alert-success" id="success-alert" aria-live="rude" role="alert" hidden>
            <label for="btype">{% trans %}Budget edited successfully!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="delete-alert" aria-live="rude" role="alert" hidden>
            <label for="btype">{% trans %}Budget deleted successfully!{% endtrans %}</label>
          </div>
        {# ---------------------ALERTS --------------------- #}
          <div class="form-group col-xs-12" >
            <div id = "e_budgettype" style="margin-bottom: 1%; margin-top:2%" class="input-group col-xs-12">
				      <label for="BudgetType" name="e_budgettype">{% trans %}Budget Type :{% endtrans %}</label><br>
                  <input type="radio"  name="budtypess" id="e_cash" aria-label="Cash Budget" value="3" checked> <label>Cash </label>  
                  <input  style="margin-left:25px" type="radio"  name="budtypess" id="e_pnl" aria-label=" profitloss Budget" value=16 > <label id="prolos"> </label> 
            </div>

            <div id="noeditbudget" class="bg-danger" style="text-align:center;margin-top:2%;padding:5px">
                <label class="text-danger" >{% trans %}<b>No Budget Found!<b>{% endtrans %}
              </div>

            <div id = "list" class="input-group col-xs-12">
              <label for="budgetlist" style="padding-top:2%">{% trans %}List of Budgets{% endtrans %} :
              </label>
              <select class = "form-control input-sm" id="budgetlist">
              <option value="" disabled selected hidden>{% trans %}Select Budget{% endtrans %}</option>
              </select>
            </div> {# list of budget#}
          </div>
          <div id="editbudget" class="col-md-12" hidden >
            <form id="addbudget" method="post"  class="form-horizontal">
            <div class="input-group col-xs-12" style="margin-top:2%">
              
                <label for="btype" id="budgettypelabel">{% trans %}Budget Type{% endtrans %} :</label> <label id="btype"> </label>
              </div>
              <div style="margin-bottom: 10px" class="input-group col-xs-12">
                <label for="bname" >{% trans %}Budg<u>e</u>t Name{% endtrans %} :</label>
                <input style="border-radius: 4px" id="bname" type="text" class="form-control input-sm" name="username" accesskey="e"></input>
              </div>
              <div class="input-group col-xs-12">
                <label for="budget_fromday">{% trans %}From Date{% endtrans %} :</label>
                <div class="form-inline input-group col-xs-12" >
                  <input type="text" style="float:left;width:45px;" class="budget_date dis form-control input-sm common numtype" id="budget_fromday"  size="2" maxlength="2" placeholder="DD">
                  <input type="text" style="float:left;width:45px;margin-left:2%" id="budget_frommonth" class="budget_date dis form-control input-sm common numtype"  size="2" maxlength="2" placeholder="MM">
                  <input type="text" style="float:left;width:55px;margin-left:2%" id="budget_fromyear" class="budget_date dis form-control input-sm common numtype"  size="4" maxlength="4" placeholder="YYYY">
                </div>
                <br>
                <label for="budget_today">{% trans %}To Date{% endtrans %} :</label>
                <div class="form-inline input-group col-xs-12" >
                  <input type="text" style="float:left;width:45px;" class="budget_date form-control input-sm dis common numtype" id="budget_today" value="" size="2" maxlength="2" placeholder="DD" accesskey="d">
                  <input type="text" style="float:left;width:45px;margin-left:2%" id="budget_tomonth" class="budget_date form-control input-sm dis common numtype" value="" size="2" maxlength="2" placeholder="MM">
                  <input type="text" style="float:left;width:55px;margin-left:2%" id="budget_toyear" class="budget_date form-control input-sm dis common numtype" value="" size="4" maxlength="4" placeholder="YYYY">
                </div>
              </div>
              <div id="flow">
              <br>
                <div style="margin-bottom: 10px;margin-top: 10px;" class="input-group col-xs-12">
                  <label  >{% trans %}<i>Opening Balance</i>{% endtrans %} :</label> <b id = "balance" > </b><br>
                  <label  >{% trans %}<i>Inflow</i>{% endtrans %} :</label> <b id = "inflow" > </b><br>
                  <label  >{% trans %}<i>Cash Available</i>{% endtrans %} :</label> <b id = "cashavailable" > </b><br>
                  <label  >{% trans %}<i>Outflow</i>{% endtrans %} :</label> <b id = "outflow" > </b><br>
                  <label  >{% trans %}<i>Closing Balance</i>{% endtrans %} :</label> <b id = "budgetbalance" > </b><br>
                </div>
              </div>
              <div id="e_pnldiv">
              <br>
                <label  >{% trans %}<i>Total Income</i>{% endtrans %} :</label> <b id = "e_income" > </b><br>
                <label  >{% trans %}<i>Total Expense</i>{% endtrans %} :</label> <b id = "e_expense" > </b><br>
                <label  >{% trans %}<i>Net Profit</i>{% endtrans %} :</label> <b id = "e_netprofit" > </b><br>
              </div>
          </div>
        </div>    {# main panel #}
        <div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
                    <div class="vertical-alignment-helper">
                        <div class="modal-dialog modal-sm vertical-align-center">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h4 class="modal-title">{% trans %}Delete?{% endtrans %}
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button></h4>
                                </div>
                                <div class="modal-body">
		                        <p>{% trans %}Are you sure?{% endtrans %}</p>
	                            </div>
	                            <div class="modal-footer">
		                        <button type="button" id ="m_cancel" class="btn btn-warning btn-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i> {% trans %}No{% endtrans %}</button>
		                        <button type="button" id="goddel" data-dismiss="modal" class="btn btn-danger btn-sm"><i class="fa fa-check" aria-hidden="true"></i> {% trans %}Yes{% endtrans %}</button>
	                            </div> 
	                        </div><!-- /.modal-content -->
	                    </div><!-- /.modal-dialog -->
	                </div>
                  
                </div><!-- /.modal --> 

        <div class = "panel col-md-8">
          <div id="accounttable" style="float:right;padding-left:10%" class="mainbox col-md-12">
            {# -----account table div-------- file:createbudgetaccounttable.jinja2 #}
          </div>
        </div>    {# table #}
      </div>    {# panel body#}
      <div id="form-footer" class="panel-footer" style="padding-left:3%" hidden>
        <button type="submit" class="btn btn-success btn-sm" id="add" name="submit"><i class="fa fa-floppy-o" aria-hidden="true" accesskey="a"></i> {% trans %}S<u>a</u>ve{% endtrans %}</button>
	      <button type = "button "id="edit" class="btn btn-primary btn-sm"><i class="fa fa-pencil-square-o" aria-hidden="true" accesskey="e"></i> {% trans %}<u>E</u>dit{% endtrans %}</button>	
	      <button id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash-o" aria-hidden="true" accesskey="d"></i> {% trans %}<u>D</u>elete{% endtrans %}</button>
	      <button id="reset" class="btn btn-warning btn-sm"><i class="fa fa-refresh" aria-hidden="true" accesskey="t"></i> {% trans %}Rese<u>t</u>{% endtrans %}</button>
      </div>    {# panel footer #}
    </div>
  </div>
 

  <div id="accModal"  tabindex="-1" class="modal fade" role="dialog"style="width:650px; margin-top: 150px; margin-left:300px;"  aria-hidden="true">
    <div class="modal-dialog bgcolor " >
      <div class="modal-content ">
        <div class="modal-header">
          {% trans %}<strong>Help!</strong>{% endtrans %}
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> </div> 
        <div class="modal-body" style="text-align: justify; text-justify: inter-word;">
  
          <p>   <font color=" #566573" style="font-weight:normal"> {%trans%}
            This  modules lets you edit the details of a budget. First choose the type of budget. This changes the options displayed in the dropdown, List of Budgets. Choose the budget you want to edit from the dropdown and click Edit button to start editing and then Save button to save changes. You can click Delete button to delete the budget. Clicking the Reset button clears all changes and restores original data.{% endtrans %} </font>
  
          </p>
        </div>
  
      </div>
    </div>
        </div>
</body>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/editbudget.js')}}"></script>