<!DOCTYPE HTML >
<html>
<head>
  <link rel="stylesheet" type="text/css" media="screen" href="{{request.static_url('gkwebapp:static/css/bootstrap.min.css')}}" />
  <style>
  #subbutton{margin-top:2%}
  p{
    font-size: 1.1em;
  }
  </style>


</head>
<body>
  <div class="col-md-6 pull-left" style="margin-top:50px;">
    <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px;">
     <h3 style="margin-top:2px;">Welcome To GNUKhata </h3>
     <h4>A Free and Open Source Accounting Software</h4>
   </div>
   <div style="padding: 2px 2px 2px 2px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top: 10px;">
     <h4>Features of GNUKhata</h4>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #4c6272; background-color: #e3f5fc; margin-right: 15px; margin-top: 0px;">
     <p style="margin-top: 5px;">It is Lightweight</p>
     <p>It can scale upto a cloud based deployment or down to a standalone installation</p>
     <p> It is Fast and Robust</p>
     <p> It can be deployed for profit making and non profit Organisations</p>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top: 10px;">
    <p>GNUKhata is developed by <b>Digital Freedom Foundation(DFF)</b> and is currently funded by <b>International Centre for Free and Open Source Software(ICFOSS).</b></p>
   </div>
   <div style="padding: 5px 5px 5px 5px; color: #115a84; background-color: #b8e0ef; margin-right: 15px; margin-top:10px;">
     <p style="text-align: right; font-size: 0.9em;">Copyright © Digital Freedom Foundation 2013,2014,2015,2016. Visit <a href="gnukhata.in">gnukhata.in</a> for more information.</p>
     <p style="text-align: right; font-size: 0.9em; margin-top: -10px; margin-bottom: 0px">This software is licensed under GNU AGPLv3. You may use a newer version of the same license.</p>
   </div>
  </div>
  <div class="container" id="inner">
    <div id="existingorg" style="margin-top:50px;" class="mainbox col-md-6 pull-right">
      <div class="alert alert-danger" id="selorg-blank-alert" hidden>
        <a href="#" class="close" aria-label="close">&times;</a>
        Please select organisation!
      </div>
      <div class="panel panel-info" >
        <div class="panel-heading">
          <div class="panel-title">Select Organisation</div>

        </div>

        <div style="padding-top:30px" class="panel-body" >



          <form id="orgform" class="form-horizontal" role="form">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="org-name" id="orname">Select <u>O</u>rganisation :</label><br/>
              <select class = "form-control col-xs-12" id="org-name"  name = "orgname" accesskey="o">
                <option value="" disabled selected hidden>Select Organisation</option>
                {% for orgs in gkresult %}
                <option value="{{orgs}}">{{orgs["orgname"]}} , {{orgs["orgtype"]}}</option>
                {% endfor %}
              </select>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="finalyears" id="orname">Select <u>F</u>inancial Year :</label><br/>
              <select class = "form-control col-xs-12" id="finalyears" name="orgcode" accesskey="f">
                <option value="" disabled selected hidden>Select Financial Year</option>
              </select>
            </div>






            <div style="margin-top:10px" class="form-group">
              <!-- Button -->

              <div class="col-sm-12 controls">
                <button id="callLogin" class="btn btn-success " accesskey="n"><span class="glyphicon glyphicon-arrow-right"></span><u>N</u>ext</button>

              </div>
            </div>

          </form>



        </div>
      </div>

    </div>




  </div>
  <hr />

  <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
  <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/existingorg.js')}}"></script>
</body>

</html>
