<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Import Ledgers{% endtrans %}</title>
   <style media="screen">
    .shadow {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    label {
  		font-size: 90%;
  	}
    div.container {
        width:500px;
        height:500px;
        margin: auto;
    }
    </style>
</head>
<body>
  <div style="padding-top:5px" class='container'>
    <div class="row">
      <div class="panel shadow">
        <div class="panel-heading">
       <span style="font-size:17px;">  Data Export Wizard </span>
        </div>
        <div class="panel-body " style="height:45vh; overflow-y:scroll;">
	    <div class="content">
              <div class="header">
                {# <button type="button" class="close" data-dismiss="" style="color: white; opacity:2;">&times;</button> #}
                <h4 class="title">{% trans %}Export Company Data{% endtrans %}</h4>
              </div>
              <div class="body">
                <div class="alert alert-success" id="export-success-alert"  aria-live="rude" role="alert" hidden>

		  {% trans %}Export is complete.{% endtrans %}
                </div>
                <div>
		  <span style="margin-bottom: 10px;">This will enable you to export organisation data, that is, all its accounts and records in these accounts in a spreadsheet(xslx) format.</span>
		  <p>Click on the "Export" button to start the export.</p>
		  <p style="margin-top: 10px;"><b>Please do not reload or close the window while the export process is on.</b></p>
		  <p style="margin-top: 10px;">A download window will pop up when export is done. You can save the spreadsheet or open it for editing.</p>
                </div>
              </div>
              <div class="-footer">
                <button type="button" id="exportbutton" class="btn btn-warning btn-sm"><i class="fa fa-file-excel-o" aria-hidden="true"></i> Export</button>
              </div>
	    </div><!-- /.-content -->
	  </div><!-- /.-dialog -->
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/export.js')}}"></script>
</body>
</html>
      