<!DOCTYPE html>
<html>
  <head>
    <style media="screen">
      label.error{
        margin-left: 10px;
        width: auto;
        display: inline;
      }
    </style>
    <meta charset="utf-8">
    <title>GNUKhata</title>
  </head>
  <body>
    <div class="container">
      <div id="forgotpasswordpanel" style="margin-top:30px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
          <div class="panel-heading">
            <div class="panel-title"><strong>Forgot Password?</strong></div>
          </div>

          <div style="padding-top:30px" class="panel-body" >
          <form id="loginform" action="userlogin" class="form-horizontal">

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="username" required><u>U</u>sername :</label>
              <input id="username" type="text" class="form-control col-xs-12" name="username" value="" accesskey="u" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityquestion"><u>S</u>ecurity Question :</label>
              <input id="securityquestion" type="text" class="form-control col-xs-12" name="securityquestion" value="" accesskey="s" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="securityanswer">S<u>e</u>curity Answer :</label>
              <input id="securityanswer" type="text" class="form-control col-xs-12" name="securityanswer" value="" accesskey="e" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="newpassword">Enter New <u>P</u>assword :</label>
              <input id="newpassword" type="password" class="form-control col-xs-12" name="newpassword" accesskey="p" required=""></input>
            </div>

            <div style="margin-bottom: 25px" class="input-group col-xs-12">
              <label for="confirmpassword"><u>C</u>onfirm New assword :</label>
              <input id="confirmpassword" type="password" class="form-control col-xs-12" name="confirmpassword" accesskey="c" required=""></input>
            </div>


            <div style="margin-top:10px" class="form-group">
              <!-- Button -->
              <div class="col-sm-12 controls">
                <button id="login" type="submit" class="btn btn-success " accesskey="m"><span class="glyphicon glyphicon-lock"></span> Sub<u>m</u>it</button>
                <button id="back" class="btn btn-danger" accesskey="b"><span class="glyphicon glyphicon-remove"></span> <u>B</u>ack</button>
              </div>
            </div>
          </form>
        </div>

        </div>
      </div>

    </div>
    <script type="text/javascript">
      $(#loginform).validate();
    </script>
    <script src="{{request.static_url('gkwebapp:static/js/jquery-2.2.0.min.js')}}"></script>
    <script src="{{request.static_url('gkwebapp:static/js/bootstrap.min.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/login.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/jquery.validate.min.js')}}"></script>
  </body>
</html>
