<!DOCTYPE html>
<html lang="en">
<head>
  <title>GNUKhata | Gross Trial Balance</title>
<style type="text/css">

.selected
{
  background-color: Aquamarine;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
td {
  font-size: 70%;
}

th {
  font-size: 75%;
}

</style>
</head>
<body>
  <h5 style="text-align:center"><strong>Gross Trial Balance</strong> for the period from <a class="glyphicon glyphicon-calendar"></a> <strong>{{from}}</strong> to <a class="glyphicon glyphicon-calendar"></a> <strong>{{to}}</strong></h5>
  <div class="table-responsive">
    <table id="gtbtable" class="shadow table table-bordered table-condensed">
      <thead>
        <tr class="info ">
          <th>Sr. No.</th>
          <th>Account name</th>
          <th style="text-align:right">Debit</th>
          <th style="text-align:right">Credit</th>
          <th>Group Name</th>
        </tr>
      </thead>
      <tbody>
        {% for record in records %}
        <tr  value="{{record['accountcode']}}">
          <td >
            <a class="sno" href="">{{record['srno']}}</a>
          </td>
          <td>
            {{record['accountname']}}
          </td>
          <td style="text-align:right">
            {{record["Dr balance"]}}
          </td>
          <td style="text-align:right">
            {{record["Cr balance"]}}
          </td>
          <td>
            {{record["groupname"]}}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div id="viewvc">
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/ledgerreport.js')}}"></script>
</body>
</html>
