<head>

</head>
<body>
    <div class=" panel shadow panel-body ">
        <div class=" row form-group form-inline col-sm-3">
            <label for="invoice_view_list">{% trans %}Type of Invoice:{% endtrans %}</label>
              </div>
                
              <div class="row form-inline form-group">
            <div class="radio">
              <label><input type="radio" class="Invoicelist" name="delradio" id="viewallinvoice" checked> All</label>
            </div>
            <div class="radio">
              <label><input type="radio" class="invoicelist" name="delradio" id="viewpurchesinvoices"> Purches</label>
            </div>
            <div class="radio">
                <label><input type="radio" class="invoicelist" name="delradio" id="viewsaleinvoices"> sale</label>
              </div>
              </div>
    </div>
</body>