<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Monthly Ledger{% endtrans %}</title>
<style type="text/css">

.selected
{
  background-color: Aquamarine;
}

.shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#mthltable td {
  font-size: 75%;
  padding: 4 !important;
  margin: 4 !important;
}
#mthltable th {
    font-size: 85%;
  }

.card-view .title {
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
    text-align: left !important;
}
#mthltable tbody {
    display:block;
    height: calc(100vh - 16em);
    overflow-y:scroll;
}
#mthltable thead,#mthltable tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}
#mthltable thead {
    width: calc( 100% - 0.65em )
}
.ralign{
  text-align:right;

}
.cred{
  color:red
}
.calign{
  text-align:center;
}

</style>
</head>
<body>
      <span style="margin:auto; display:table;"><i>{% trans %}Ledger Account{% endtrans %}</i> : <strong>{{accountname}}</strong></span>
        <input type="hidden" id="accname" name="projectname" value="{{accountname}}"></input>
        <div class="row">
          <table id="mthltable" class="table shadow table-bordered" data-toggle="table" data-show-toggle="true"  data-search-align="left" data-buttons-align="left" data-search="true">
            <thead>
              <tr>
                <th class="col-xs-3">{% trans %}Month{% endtrans %}</th>
                <th class="col-xs-3 ralign">{% trans %}Debit{% endtrans %}</th>
                <th class="col-xs-3 ralign">{% trans %}Credit{% endtrans %}</th>
                <th class="col-xs-3 calign">{% trans %}No. of Vouchers{% endtrans %}</th>
              </tr>
            </thead>
            <tbody>
              {% for record in records %}
              <tr  data-value="{{record['period']}}">
                <td class="col-xs-3">
                  <a class="monthname" href="#">{{record['month']}}</a>
                </td>
                {%if record["advflag"]==1%}
                <td class="col-xs-3 hidden-print ralign cred">
                  <b>{{record["Dr"]}}</b>
                </td>
                <td class="col-xs-3 hidden-print ralign cred">
                  <b>{{record["Cr"]}}</b>
                </td>
                <td class="col-xs-3 visible-print ralign cred">
                  {% if record.Dr %}
                    <b>({{record["Dr"]}})</b>
                  {% endif %}
                </td>
                <td class="col-xs-3 visible-print ralign cred">
                  {% if record.Cr %}
                    <b>({{record["Cr"]}})</b>
                  {% endif %}
                </td>
                {%else%}
                <td class="col-xs-3 ralign">
                  {{record["Dr"]}}
                </td>
                <td class="col-xs-3 ralign">
                  {{record["Cr"]}}
                </td>
                {%endif%}
                <td class="col-xs-3 calign">
                  {{record["vcount"]}}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <span style="margin:auto; display:table;">
        <button type="button" class="btn btn-sm btn-danger" id="mthlback" accesskey="b">{% trans %}<u>B</u>ack{% endtrans %}</button>
        <button class="btn btn-sm btn-primary" type="button"  id="print" accesskey="x">{% trans %}E<u>x</u>port to Spreadsheet{% endtrans %}</button>
        <button class="btn btn-sm btn-primary" type="button"  id="realprintmonth" accesskey="t">{% trans %}Prin<u>t</u>{% endtrans %}</button>
      </span>
    <input type="hidden" id="accountcode" value="{{accountcode}}">
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/monthledger.js')}}"></script>
</body>
</html>
