<!DOCTYPE html>
<html lang="en">
  <head>
    {% if orgtype=="Profit Making" %}
      <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Profit & Loss{% endtrans %}</title>
    {% else %}
      <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Income & Expenditure{% endtrans %}</title>
    {% endif %}

    <style type="text/css">
     .shadow {
	 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
     }
     td {
	 font-size:75%;
     }
     th {
	 font-size:85%;
     }
     tfoot tr {
	 height:26px !important;
     }
     .nopadding{
	 padidng:0 !important;
	 padding:0 !important;
     }
    </style>
  </head>
  <body>
    {% if orgtype=="Profit Making" %}
      <input type="hidden" id="headingprofit" value="Profit & Loss">
      <span style="margin:auto; display:table;"><strong>{% trans %}Profit & Loss Account{% endtrans %}</strong> {% trans %}for the period{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
    {% else %}
      <input type="hidden" id="headingprofit" value="Income & Expenditure Account">
      <span style="margin:auto; display:table;"><strong>{% trans %}Income & Expenditure Account{% endtrans %}</strong> {% trans %}for the period{% endtrans %} <strong>{{from}}</strong> {% trans %}to{% endtrans %} <strong>{{to}}</strong></span>
    {% endif %}
    <br>
    <div class="row">
      <div class="col-sm-6">
	<table id="expensetbl" class="table table-condensed table-bordered">
          <thead class="bg-primary">
            <tr>
              <th class="col-xs-10 text-center">{% trans %}Particulars{% endtrans %}</th>
              <th class="col-xs-2 text-right">{% trans %}Amount{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
	    <tr class="group degroup">
	      <td class="col-xs-8"> <a class="rcaccname"  href="#" style="text-decoration: none;" >DIRECT EXPENSE</a> </td>
	      <td  class="col-xs-4 text-right">{{DirectExpense["direxpbal"]}}</td>
	    </tr>
	    
	    {% if "Purchase" in DirectExpense %}
	      <tr class="subgroupofdegroup" data-numberofaccounts="{{DirectExpense["Purchase"]|length}}">
		<td class="col-xs-8"><a class="rcaccname"  href="#"><span style="margin-left:3em;">PURCHASE</span></a></td>
		<td class="col-xs-4 text-right"><span style="margin-right:3em;">{{DirectExpense["Purchase"]["balance"]}}</span></td>
	      </tr>
	      {% for purch in DirectExpense["Purchase"] %}
		{% if purch != "balance" %}
		  <tr class="accountfield accountofsubgroupofdegroup" style="display:none">
		    <td class="col-xs-8"><a class="rcaccname" href="#"><span style="margin-left:6em;">{{purch}}</span></a></td>
		    <td class="col-xs-4 text-right"><span style="margin-right:6em;">{{DirectExpense["Purchase"][purch]}}</span></td>
		  </tr>
		{% endif %}
	      {% endfor %}
	    {% endif %}
	    {% for subgroup in DirectExpense %}
	      {% if subgroup != "Purchase" and "balance" in DirectExpense[subgroup] %}
		<tr class="subgroupofdegroup" data-numberofaccounts="{{DirectExpense[subgroup]|length}}">
		  <td class="col-xs-8"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{DirectExpense[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in DirectExpense[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofdegroup">
		      <td class="col-xs-8"><a class="rcaccname" class="libg" href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right"><span style="margin-right:6em;">{{DirectExpense[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "Purchase" and subgroup != "direxpbal" and "balance" not in DirectExpense[subgroup] %}
		<tr class="accountfield accountofdegroup">
		  <td class="col-xs-8"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{DirectExpense[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
	    <tr class="group iegroup">
	      <td class="col-xs-8"> <a class="rcaccname"  href="#" style="text-decoration: none;" >INDIRECT EXPENSE</a> </td>
	      <td  class="col-xs-4 text-right">{{InDirectExpense["indirexpbal"]}}</td>
	    </tr>
            {% for subgroup in InDirectExpense %}
	      {% if "balance" in InDirectExpense[subgroup] %}
		<tr class="subgroupofiegroup" data-numberofaccounts="{{InDirectExpense[subgroup]|length}}">
		  <td class="col-xs-8"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{InDirectExpense[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in InDirectExpense[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofiegroup">
		      <td class="col-xs-8"><a class="rcaccname"  href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right"><span style="margin-right:6em;">{{InDirectExpense[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "indirexpbal" and "balance" not in InDirectExpense[subgroup] %}
		<tr class="accountfield accountofiegroup">
		  <td class="col-xs-8"><a class="rcaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{InDirectExpense[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
	    <tr>
	      <td class="col-xs-8">{% if net["netprofit"] %}Net Profit{% endif %}</td>
	      <td class="col-xs-4 text-right">{% if net["netprofit"] %}{{net["netprofit"]}}{% endif %}</td>
	    </tr>
	    <tr>
	      <td class="col-xs-8">Total</td>
	      <td class="col-xs-4 text-right">{{Total}}</td>
	    </tr>
          </tbody>
	</table>
      </div>
      <div class="col-sm-6">
	<table id="incometbl" class="table table-bordered table-condensed">
          <thead class="bg-primary">
            <tr>
              <th class="col-xs-10 text-center">{% trans %}Particulars{% endtrans %}</th>
              <th class="col-xs-2 text-right">{% trans %}Amount{% endtrans %}</th>
            </tr>
          </thead>
          <tbody>
            <tr class="group digroup">
	      <td class="col-xs-8"> <a class="pyaccname"  href="#" style="text-decoration: none;" >DIRECT INCOME</a> </td>
	      <td  class="col-xs-4 text-right">{{DirectIncome["dirincmbal"]}}</td>
	    </tr>
	    
	    {% if "Sales" in DirectIncome %}
	      <tr class="subgroupofdigroup" data-numberofaccounts="{{DirectIncome["Sales"]|length}}">
		<td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:3em;">SALES</span></a></td>
		<td class="col-xs-4 text-right"><span style="margin-right:3em;">{{DirectIncome["Sales"]["balance"]}}</span></td>
	      </tr>
	      {% for purch in DirectIncome["Sales"] %}
		{% if purch != "balance" %}
		  <tr class="accountfield accountofsubgroupofdigroup">
		    <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:6em;">{{purch}}</span></a></td>
		    <td class="col-xs-4 text-right"><span style="margin-right:6em;">{{DirectIncome["Sales"][purch]}}</span></td>
		  </tr>
		{% endif %}
	      {% endfor %}
	    {% endif %}
	    {% for subgroup in DirectIncome %}
	      {% if subgroup != "Sales" and "balance" in DirectIncome[subgroup] %}
		<tr class="subgroupofdigroup" data-numberofaccounts="{{DirectIncome[subgroup]|length}}">
		  <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{DirectIncome[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in DirectIncome[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofdigroup">
		      <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right"><span style="margin-right:6em;">{{DirectIncome[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "Sales" and subgroup != "dirincmbal" and "balance" not in DirectIncome[subgroup] %}
		<tr class="accountfield accountofdigroup">
		  <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{DirectIncome[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
	    <tr class="group iigroup">
	      <td class="col-xs-8"> <a class="pyaccname"  href="#" style="text-decoration: none;" >INDIRECT INCOME</a> </td>
	      <td  class="col-xs-4 text-right">{{InDirectIncome["indirincmbal"]}}</td>
	    </tr>
            {% for subgroup in InDirectIncome %}
	      {% if "balance" in InDirectIncome[subgroup] %}
		<tr class="subgroupofiigroup" data-numberofaccounts="{{InDirectIncome[subgroup]|length}}">
		  <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{ subgroup|upper }}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{InDirectIncome[subgroup]["balance"]}}</span></td>
		</tr>
		{% for account in InDirectIncome[subgroup] %}
		  {% if account != "balance" %}
		    <tr class="accountfield accountofsubgroupofiigroup">
		      <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:6em;">{{account}}</span></a></td>
		      <td class="col-xs-4 text-right"><span style="margin-right:6em;">{{InDirectIncome[subgroup][account]}}</span></td>
		    </tr>
		  {% endif %}
		{% endfor %}
	      {% endif %}
	      {% if subgroup != "indirincmbal" and "balance" not in InDirectIncome[subgroup] %}
		<tr class="accountfield accountofiigroup">
		  <td class="col-xs-8"><a class="pyaccname"  href="#"><span style="margin-left:3em;">{{subgroup}}</span></a></td>
		  <td class="col-xs-4 text-right"><span style="margin-right:3em;">{{InDirectIncome[subgroup]}}</span></td>
		</tr>
	      {% endif %}
	    {% endfor %}
	    <tr>
	      <td class="col-xs-8">{% if net["netloss"] %}Net Loss{% endif %}</td>
	      <td class="col-xs-4 text-right">{% if net["netloss"] %}{{net["netloss"]}}{% endif %}</td>
	    </tr>
	    <tr>
	      <td class="col-xs-8">Total</td>
	      <td class="col-xs-4 text-right">{{Total}}</td>
	    </tr>
          </tbody>
	</table>
      </div>
    </div>
    <span class="hidden-print" style="margin:auto; display:table;">
      <button type="button" class="btn btn-sm btn-danger" id="pnlback" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>
	   <button class="btn btn-sm btn-info" type="button"  id="realprintpnl" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
    </span>
    <input type="hidden" id="ledtodate" value="{{to}}">
    <input type="hidden" id="ledfromdate" value="{{from}}">
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/bootstrap-table.js')}}"></script>
    <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/profitlossreport.js')}}"></script>
</body>
</html>
