<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Budget Report{% endtrans %}</title>
  <style type="text/css">

  td {
  	font-size: 70%;
  	color: black;
  }

  th {
  	font-size: 75%;
  }

  @page {
    size : 21cm 29.7cm;
    margin : 10mm 10mm 20mm 10mm
  }
  thead{
    display: table-header-group;
  }
  tfoot{
    display: table-footer-group;
  }
  .calign{
    text-align:center;
  }
  .lalign{
    text-align:left;
  }
  .dtwrap{
    width :5%
     }
 .smwrap{
  width:3%
 }

 .lngwrap{
  width:14%
 }
 .mdwrap{
  width:8%
 }

  </style>
</head>
<body>
  <div class="container-fluid ">
    <div class = "panel">
    {% if btype == '3'%}
        <center> <h4>Cash Budget Report  </h4></center> 
    {% elif btype == '5' %}
        <center> <h4>Net Profit Budget Report  </h4></center>
    {% else %}
        <center> <h4>Gross Profit Budget Report  </h4></center>
    {% endif %}
        <div class="panel-body">
        <div ><center>
             <strong id="printbudgetdetails"> {{budgetdetails}} </strong> </center>
        </div>
        {% if btype == '3'%}
        <div >
            <h><b>Total Opening Balance : </b></h>{{gkresult["totalopeningbal"]}}
        </div>
        <div class="table-responsive">
          <table id="mthltable" class=" table table-bordered table-condensed tabledesign">
            <thead class="bg-primary">
			    <tr >
			      <th  class="lngwrap lalign text-center">{% trans %}Particulars {% endtrans %} </th>
			      <th  class="mdwrap text-center sgstfield">{% trans %}Cash InFlow{% endtrans %}</th>
			      <th  class="mdwrap text-center sgstfield">{% trans %}Cash OutFlow{% endtrans %}</th>
			      <th  class="mdwrap text-center igstfield">{% trans %}Balance{% endtrans %}</th>
			    </tr>
			  </thead>
            <tbody>
                <tr >
                    <td class="lngwrap lalign"> Budget Amount</td>
                    <td class="mdwrap lalign" style="text-align:right"> {{gkresult["budgetIn"]}} </td>
                    <td class="mdwrap lalign" style="text-align:right"> {{gkresult["budgetOut"]}} </td>
                    <td class="mdwrap lalign"style="text-align:right"> {{gkresult["budgetBal"]}} </td>   
                </tr>
                <tr  >
                    <td class="lngwrap lalign"><h> Actuals </h> <br>
                    <div style="text-align:right">
                    {% for acc in gkresult["accData"] %}
                        {{acc["accountname"]}} <br>
                    {% endfor %}
                    </div>
                    </td>
                    <td style="text-align:right" class="mdwrap lalign"><br>
                    {% for acc in gkresult["accData"] %}
                        {{acc["accDr"]}} <br>
                    {% endfor %}
                     </td>
                    <td style="text-align:right" class="mdwrap lalign"><br>
                    {% for acc in gkresult["accData"] %}
                        {{acc["accCr"]}} <br>
                    {% endfor %}
                    </td>
                    <td style="text-align:right" class="mdwrap lalign"><br>
                    {% for acc in gkresult["accData"] %}
                        {{acc["accBal"]}} <br>
                    {% endfor %}
                    </td>
                </tr>
                <tr>
                    <td style="text-align:left" class="lngwrap lalign">Total</td>
                    <td style="text-align:right" class="mdwrap lalign"> {{gkresult["totalDr"]}} </td>
                    <td style="text-align:right" class="mdwrap lalign"> {{gkresult["totalCr"]}} </td>
                    <td style="text-align:right" class="mdwrap lalign"> {{gkresult["budgetclosingbal"]}} </td> 
                </tr>
                <tr>
                    <td class="lngwrap lalign">Variance</td>
                    <td style="text-align:right" class="mdwrap lalign"> {{gkresult["varDr"]}} </td>
                    <td style="text-align:right" class="mdwrap lalign"> {{gkresult["varCr"]}} </td>
                    <td style="text-align:right" class="mdwrap lalign"> {{gkresult["varBal"]}} </td> 
                </tr>
            </tbody>
            </table>
            <div >
            <h><b>Budget Closing Balance : </b></h>{{gkresult["budgetclosingbal"]}}
        </div>
        </div>
        {%elif btype == '5' %}
            {# <div>
                  <h><b>Total Previous Expense: </b></h>{{gkresult["totalpreviousbal"]}}
            </div> #}
            <div class="table-responsive">
                <table id="mthltable" class=" table table-bordered table-condensed tabledesign">
                  <thead class="bg-primary">
                <tr>
                  <th  class="lngwrap text-center">{% trans %}Particulars {% endtrans %} </th>
                  <th  class="mdwrap text-center sgstfield">{% trans %}Budgeted Expense{% endtrans %}</th>
                  <th  class="mdwrap text-center sgstfield">{% trans %}Actual Expense{% endtrans %}</th>
                  <th  class="mdwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                  {# <th  class="mdwrap text-center igstfield">{% trans %}Budgeted Balance{% endtrans %}</th>
                  <th  class="mdwrap text-center igstfield">{% trans %}Actual Balance{% endtrans %}</th> #}
                </tr>
                  </thead>
                  <tbody>
                <tr>
                    <td class="lngwrap">
                    <div >
                    {% for record in gkresult["accountdata"] %}
                      {{record["accountname"]}} <br>
                      {% endfor %}
                      </div>
                      
                    </td>
                    <td style="text-align:right">
                    
                    {% for record in gkresult["accountdata"] %}
                      {{record["budgetamount"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right">
                    
                    {% for record in gkresult["accountdata"] %}
                      {{record["actualamount"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right"> 
                    
                    {% for record in gkresult["accountdata"] %}
                      {{record["accvariance"]}}<br>
                      {% endfor %}
                    </td>
                    {# <td style="text-align:right">
                    
                    {% for record in gkresult["accountdata"] %}
                      {{record["budgetedbal"]}}<br>
                      {% endfor %}
                    </td>
                    <td style="text-align:right">
                    
                    {% for record in gkresult["accountdata"] %}
                      {{record["actualbal"]}}<br> 
                      {% endfor %}
                    </td> #}
                </tr>
                <tr>
                    <td >
                    Total
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalbudget"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalactual"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalvariance"]}}
                    </td>
                    {# <td style="text-align:right">
                        {{gkresult["totalbudgetedbal"]}}
                    </td>
                    <td style="text-align:right">
                        {{gkresult["totalactualbal"]}}
                    </td> #}
                </tr>
                <tr >
                        <td>
                            Net Profit
                        </td>
                        <td style="text-align:right">
                            {{gkresult["budgetnet"]}}
                        </td>
                        <td style="text-align:right">
                            {{gkresult["actualnet"]}}
                        </td>
                        <td style="text-align:right">
                            {{gkresult["varnet"]}}
                        </td>
                </tr>
                  </tbody>
                </table>
                <h><b>Total Closing Expense: </b></h>{{gkresult["totalactual"]}}
            </div>
            {%else%}
              <div>
                  <h><b>Total Opening Balance: </b></h>{{gkresult["openingbal"]}}
            </div>
            <div class="table-responsive">
                <table id="mthltable" class=" table table-bordered table-condensed tabledesign">
                      <thead class="bg-primary">
                    <tr>
                      <th  class="lngwrap text-center">{% trans %}Particulars {% endtrans %} </th>
                      <th  class="mdwrap text-center sgstfield">{% trans %}Budgeted{% endtrans %}</th>
                      <th  class="mdwrap text-center sgstfield">{% trans %}Actual{% endtrans %}</th>
                      <th  class="mdwrap text-center igstfield">{% trans %}Variance{% endtrans %}</th>
                    </tr>
                      </thead>
                      <body >
                        <tr>
                            <td> Purchases <br>
                                <div style="text-align:right">
                                    {% for record in gkresult["expensedata"] %}
                                        {{record["accountname"]}} <br>
                                    {% endfor %}
                                </div>
                            </td>
                            <td style="text-align:right">
                                <br>
                                    {% for record in gkresult["expensedata"] %}
                                        {{record["budget"]}} <br>
                                    {% endfor %}
                            <td style="text-align:right">
                                <br>
                                    {% for record in gkresult["expensedata"] %}
                                        {{record["actual"]}} <br>
                                    {% endfor %}
                            </td>
                            <td style="text-align:right">
                                <br>
                                    {% for record in gkresult["expensedata"] %}
                                        {{record["var"]}} <br>
                                    {% endfor %}
                            </td>
                        </tr>

                        <tr style="text-align:right">
                            <td>
                              Total
                            </td>

                            <td>
                              {{gkresult["budgetexpense"]}}
                            </td>

                            <td>
                              {{gkresult["actualexpense"]}}
                            </td>

                            <td>
                              {{gkresult["varexpense"]}}
                            </td>
                        </tr>

                        <tr>
                            <td> Sales <br>
                                <div style="text-align:right">
                                    {% for record in gkresult["incomedata"] %}
                                        {{record["accountname"]}} <br>
                                    {% endfor %}
                                </div>
                            </td>
                            <td style="text-align:right">
                                <br>
                                    {% for record in gkresult["incomedata"] %}
                                        {{record["budget"]}} <br>
                                    {% endfor %}
                            <td style="text-align:right">
                                <br>
                                    {% for record in gkresult["incomedata"] %}
                                        {{record["actual"]}} <br>
                                    {% endfor %}
                            </td>
                            <td style="text-align:right">
                                <br>
                                    {% for record in gkresult["incomedata"] %}
                                        {{record["var"]}} <br>
                                    {% endfor %}
                            </td>
                        </tr>

                        <tr style="text-align:right">
                            <td>
                              Total
                            </td>

                            <td>
                              {{gkresult["budgetincome"]}}
                            </td>

                            <td>
                              {{gkresult["actualincome"]}}
                            </td>

                            <td>
                              {{gkresult["varincome"]}}
                            </td>
                            
                        </tr>
                        <tr>
                            <td>
                              Profit
                            </td>

                            <td style="text-align:right">
                              {{gkresult["budgetprofit"]}}
                            </td>

                            <td style="text-align:right">
                              {{gkresult["actualprofit"]}}
                            </td>

                            <td style="text-align:right">
                              {{gkresult["varprofit"]}}
                            </td>
                        </tr>

                      </body>
                </table>
                <h><b>Total Closing Balance: </b></h>{{gkresult["closingbal"]}}
            </div>
            {%endif%}
        </div>   
      </div>
      <center>
      <button type="button" class="btn btn-sm btn-danger hidden-print" id="loaback" name="back" accesskey="b"><i class="fa fa-arrow-left" aria-hidden="true"></i> {% trans %}<u>B</u>ack{% endtrans %}</button>   
  		<button type="button" class="btn btn-sm btn-info hidden-print" id="loaprint" accesskey="t">{% trans %}<i class="fa fa-print" aria-hidden="true"></i> Prin<u>t</u>{% endtrans %}</button>      
      </center>
    </div>
    <input type="hidden" id="printbudid" value="{{ budid }}">
    <input type="hidden" id="printbtype" value="{{ btype }}">
    <input type="hidden" id="menuflag" value="{{ menuflag }}">
</body> 
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/budgetreport.js')}}"></script>
</html>