<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>GNUKhata | Projects</title>
    <style media="screen">
    .rightJustified {
      text-align: right;
    }
    /*
  Force table width to 100%
  */
   table.table-fixedheader {
      width: 100%;
  }
  /*
  Set table elements to block mode.  (Normally they are inline).
  This allows a responsive table, such as one where columns can be stacked
  if the display is narrow.
  */
   table.table-fixedheader, table.table-fixedheader>thead, table.table-fixedheader>tbody, table.table-fixedheader>tfoot, table.table-fixedheader>thead>tr, table.table-fixedheader>tbody>tr, table.table-fixedheader>tfoot>tr, table.table-fixedheader>thead>tr>th, table.table-fixedheader>tbody>tr>td, table.table-fixedheader>tfoot>tr>td {
      display: block;
  }
  table.table-fixedheader>thead>tr:after, table.table-fixedheader>tbody>tr:after, table.table-fixedheader>tfoot>tr:after  {
      content:' ';
      display: block;
      visibility: hidden;
      clear: both;
  }
  /*
  When scrolling the table, actually it is only the tbody portion of the
  table that scrolls (not the entire table: we want the thead to remain
  fixed).  We must specify an explicit height for the tbody.  We include
  100px as a default, but it can be overridden elsewhere.

  Also, we force the scrollbar to always be displayed so that the usable
  width for the table contents doesn't change (such as becoming narrower
  when a scrollbar is visible and wider when it is not).
  */
   table.table-fixedheader>tbody {
      overflow-y: scroll;
      height: 50%;

  }
  /*
  We really don't want to scroll the thead contents, but we want to force
  a scrollbar to be displayed anyway so that the usable width of the thead
  will exactly match the tbody.
  */
   table.table-fixedheader>thead, table.table-fixedheader>tfoot {
      overflow-y: scroll;
      height: 39px;
  }
  table.table-fixedheader>thead {
    width: 99.4%
  }
  /*
  For browsers that support it (webkit), we set the background color of
  the unneeded scrollbar in the thead to make it invisible.  (Setting
  visiblity: hidden defeats the purpose, as this alters the usable width
  of the thead.)
  */
   table.table-fixedheader>thead::-webkit-scrollbar {
      background-color: inherit;
  }


  table.table-fixedheader>thead>tr>th:after, table.table-fixedheader>tbody>tr>td:after, table.table-fixedheader>tfoot>tr>td:after {
      content:' ';
      display: table-cell;
      visibility: hidden;
      clear: both;
  }

  /*
  We want to set <th> and <td> elements to float left.
  We also must explicitly set the width for each column (both for the <th>
  and the <td>).  We set to 20% here a default placeholder, but it can be
  overridden elsewhere.
  */

   table.table-fixedheader>thead tr th, table.table-fixedheader>tbody tr td, table.table-fixedheader>tfoot tr td {
      float: left;

  }
    </style>
  </head>
  <body>
    <div class="container">
      <div style="text-align:center" class="well well-sm">
        <label>Project List</label>
      </div>
      <table class="table col-xs-5 table-hover table-striped table-fixedheader">
        <thead>
          <th class="col-xs-9">
            Project Name
          </th>
          <th class="col-xs-3 rightJustified">
            Sanctioned Amount
          </th>
        </thead>
        <tbody>
          {% for prjs in projects %}
            <td class="col-xs-9">
              {{prjs['projectname']}}
            </td>
            <td class="col-xs-3 rightJustified">
              {{prjs['sanctionedamount']}}
            </td>
          {% endfor %}
        </tbody>
      </table>

    </div>
    <div class="container">
      <form class="form-inline" id="prjform">
      <div class="form-group">
        <label for="prjname">Project name: </label>
        <input type="text" name="projectname" class="form-control" id="prjname">
      </div>
      <div class="form-group col-xs-offset-1">
        <label for="prjamount">Sanctioned Amount: </label>
        <input class="form-control rightJustified" id="prjamount" name="sanctionedamount" placeholder="0.00">
      </div>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
    </div>
  </body>
</html>
