<!DOCTYPE html>
<html lang="en">
<head>
  <style type="text/css">
 td {
      font-size: 65%;
      padding: 4 !important;
      margin: 4 !important;
    }
 th {
      font-size: 75%;
  }
  .fixed-table tbody {
      display:block;
      height: 155px;
      overflow-y:scroll;
  }

  .fixed-table thead ,.fixed-table tbody tr {
      display:table;
      width:100%;
      table-layout:fixed;
  }
  .fixed-table thead {
      width: calc( 100% - 0.7em )
  }
  </style>
</head>
<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="alert alert-success" id="success-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Transfer Note saved.{% endtrans %}
    </div>
    <div class="alert alert-danger" id="failure-alert"  aria-live="rude" role="alert" hidden>

      {% trans %}Something went wrong!{% endtrans %}
    </div>

    <div class="panel shadow transfernote_panel">
      <div class="panel-body">
        <div class="col-md-6">
          <div class="alert alert-danger" id="custsup-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please Enter Date{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="tnno-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please Enter Transfer Note No.!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="date-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter date in proper format!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="godown-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Godown Must be Selected!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="product-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please select a product!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="quantity-blank-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Please enter quantity!{% endtrans %}</label>
          </div>
          <div class="alert alert-success" id="delsuccess-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}Transfer Note Deleted Successfully!{% endtrans %}</label>
          </div>
          <div class="alert alert-danger" id="godown-same-alert"  aria-live="rude" role="alert" hidden>

            <label for="vno">{% trans %}From and To godown can not be same !{% endtrans %}</label>
          </div>
          <form>
            <div class="form-group">
              <label for="edit_tn_list">{% trans %}Transfer Note:{% endtrans %}</label>
              <select class="form-control input-sm " id="edit_tn_list" accesskey="">
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_transfernote_no">{% trans %}Transfer Note No:{% endtrans %}</label>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_transfernote_date">{% trans %}Date:{% endtrans %}</label>

            </div>
            <div class="form-group hidden-load" hidden>
              <div class="panel">
                <table id="transfernote_product_table" class="table table-condensed table-borderd fixed-table">
                  <thead class="bg-primary">
                    <tr>
                      <th class="col-xs-9">{% trans %}Product{% endtrans %}</th>
                      <th class="col-xs-2">{% trans %}Quantity{% endtrans %}</th>
                      <th class="col-xs-1"></th>
                    </tr>
                  </thead>
                  <tbody>

                  </tbody>
                </table>
              </div>
            </div>
          </div>
            <div class="col-md-6" id="edit_transfernote_godown_div">
              <div class="form-group hidden-load" hidden>
                <label for="edit_no_of_packet">{% trans %} Number Of Packets:{% endtrans %}</label>
              </div>

            <div class="form-group hidden-load" hidden>
              <label for="edit_tn_from_godown">{% trans %} From Godown:{% endtrans %}</label>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_tn_to_godown">{% trans %} To Godown:{% endtrans %}</label>
            </div>
            <div class="form-group hidden-load" hidden>
              <label for="edit_transport_mode">{% trans %} Mode Of Transport:{% endtrans %}</label>
            </div>

          <div class="form-group hidden-load" hidden>
            <label for="edit_name_issuer">{% trans %} Name Of Issuer:{% endtrans %}</label>
          </div>
        <div class="edit_form-group hidden-load" hidden>
          <label for="designation">{% trans %} Designation:{% endtrans %}</label>
        </div>
      </form>
      </div>
    </div>
      <div class="panel-footer hidden-load" hidden>
      <form>
        <label for="edit_name_issuer">{% trans %} Recieved :{% endtrans %}</label>
      <input type="radio" >Yes
      <input type="radio" checked>No<br>
      </form>
      </div>
    </div>

  </div>
</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/recievedtransfernote.js')}}"></script>
</body>
