<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Rejection Note{% endtrans %}</title>
  <style media="screen">
  .nopadding {
     padding: 0 !important;
     margin: 0 !important;
   }

   .fixed-table td {
       font-size: 75%;
       padding: 4 !important;
       margin: 4 !important;
     }
   .fixed-table th {
       font-size: 85%;
   }
   .fixed-table tbody {
       display:block;
       height: calc(100vh - 26.5em);
       overflow-y:scroll;
   }

   .fixed-table thead ,.fixed-table tbody tr {
       display:table;
       width:100%;
       table-layout:fixed;
   }
   .fixed-table thead {
       width: calc( 100% - 0.6em )
   }
  </style>
</head>
<body>
  <div class="container-fluid row" >
    <ul class="nav nav-pills nav-tabs" role="tablist">
      <li role="presentation" class="active"><a href="" id="rejectionnote_in" role="tab" data-toggle="tab" accesskey="1">{% trans %}Rejection In{% endtrans %}</a></li>
      <li role="presentation" ><a href="" id="rejectionnote_out" role="tab" data-toggle="tab" accesskey="2">{% trans %}Rejection Out{% endtrans %}</a></li>
      {%if noofrejectionnotes > 0 %}
        <li role="presentation"><a href="" id="rejectionnote_view" role="tab" data-toggle="tab" accesskey="3">{% trans %}View Rejection Note{% endtrans %}</a></li>
      {%endif%}
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="rejectionnote_div">
      </div>
    </div>
  </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/rejectionnote.js')}}"></script>
</body>
</html>
