<!DOCTYPE html>
<html>
<head>


	<title>
		GNUKhata | Remove User
	</title>
</head>
<body>


<div class="container-fluid">
		<div id="removeuser" style="margin-top:50px;" class="mainbox col-xs-4 col-xs-offset-4">
			<div class="panel shadow" class="col-md-offset-4" >
				<div class="panel-heading">
					<div class="panel-title" >Remove User</div>
				</div>

				<div style="padding-top:30px" class="panel-body" >
					<div class="alert alert-danger" id="remove-blank-alert" hidden>

						Please select an user!
					</div>

					<div class="alert alert-success" id="remsuccess-alert" hidden>

						User removed successfully.
					</div>
					<div class="alert alert-success" id="accessdenied-alert" hidden>

						You are not allowed to remove this user.
					</div>
					<div class="alert alert-success" id="actiondisallowed-alert" hidden>

						The action is disallowed temporarily.
					</div>
					<div class="alert alert-success" id="connectionfailed-alert" hidden>

						Connection Failed.
					</div>
			<form id="removeUserform" class="form-horizontal" method="delete" >
							<label for="Username">Us<u>e</u>rname:</label>
              <select class = "form-control input-sm" id="username"  name = "username" accesskey="e">
                <option value="" disabled selected hidden>--Select User--</option>
                {% for user in  Users%}
								{%if user["userrole"]!= -1%}
                <option value="{{user['userid']}}">{{user["username"]}}</option>
								{%endif%}
                {% endfor %}
              </select>
							<br><br>
						</form>
						<div id="nousers" hidden class="well well-sm">
						<h4>No users found! <br><small>You can create <a id="newuser" href="#">new users</a>.</small></h4>
					</div>
						</div>
							<div class="panel-footer">
							<button id="remove" class="btn btn-danger btn-sm" accesskey="v">Remo<u>v</u>e</button>

						</div>
					<div id="m_confirmdel" class="modal fade" tabindex="-1" role="dialog">
						<div class="vertical-alignment-helper">
							<div class="modal-dialog modal-sm vertical-align-center">
								<div class="modal-content">
									<div class="modal-header">

										<h4 class="modal-title">Remove</h4>
									</div>
									<div class="modal-body">
										<p>Are you sure?</p>
									</div>
									<div class="modal-footer">
										<button type="button" id ="m_yes" class="btn btn-warning" data-dismiss="modal">Yes</button>
										<button type="button" id="m_no" data-dismiss="modal" class="btn btn-danger">No</button>
									</div>
								</div><!-- /.modal-content -->
							</div><!-- /.modal-dialog -->
						</div>
					</div><!-- /.modal -->


			</div>

		</div>

	</div>
	<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/removeuser.js')}}"></script>




</body>

</html>
