<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}Category Specificcation Popup{% endtrans %}</title>
  </head>
   <body>
    <div id="addspecmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog ">
          <div class="modal-content">
        <div class="modal-header">
    	    <div class="modal-title">
    	      {% trans %}Specification{% endtrans %}
    	    </div>
    	  </div>
        <div class="modal-body">
          <div class="panel shadow">
    	              <div class="panel-body">
                      <div class="row">
          <div class="form-group col-md-6">
            <div class="alert alert-danger" id="spec-blank-alert"  aria-live="rude" role="alert" hidden>

              <label for="vno">{% trans %}Please enter specification name!{% endtrans %}</label>
            </div>
        </div>
      </div>
                      <div class="panel">
              <table id="category_spec_table" class="table table-condensed table-bordered fixed-table">
                <thead class="bg-primary input-sm">
                  <tr>
                    <th class="col-xs-8">{% trans %}Spec Name{% endtrans %}</th>
                    <th class="col-xs-3">{% trans %}Type{% endtrans %}</th>
                    <th class="col-xs-1"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xs-8">
                      <input type="text" id="category_spec_name" class="form-control input-sm spec_name" placeholder="Spec Name">
                    </td>
                    <td class="col-xs-3">
                      <select id="category_spec_type" class="form-control input-sm spec_type" name="">
                        <option value="0">Text</option>
                        <option value="1">Number</option>
                        <option value="2">Date</option>
                        <option value="3">Option</option>
                      </select>
                    </td>
                    <td class="col-xs-1">
                      <a href="#" class="spec_del"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></a>
                    </td>
                  </tr>
                </tbody>
              </table>


            </div>
          </div>
</div>
</div>

      <div class="panel-footer">
        <div class="container-fluid">
          <button class="btn btn-success btn-sm" id="savespecs" data-toggle="tooltip" data-placement="top" title="{% trans %}Press Insert key anywhere on the current screen to save{% endtrans %}">{% trans %}Save{% endtrans %}</button>
          <button class="btn btn-warning btn-sm" id="category_reset">{% trans %}Reset{% endtrans %}</button>
        </div>
      </div>
</div>

</div>

</div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/specspopup.js')}}"></script>
</body>
</html>
