<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% trans %}Specifications Popup{% endtrans %}</title>
  </head>
  <body>
    <div id="addtaxmodal" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
    	       <div class="modal-title">
    	      {% trans %}Tax{% endtrans %}
    	       </div>
    	      </div>
                <div class="modal-body">
                  <div class="panel shadow">
                    <div class="alert alert-danger" id="tax-name-blank-alert"  aria-live="rude" role="alert" hidden>

                      {% trans %}Select tax name!{% endtrans %}
                    </div>
                    <div class="alert alert-danger" id="tax-rate-blank-alert"  aria-live="rude" role="alert" hidden>

                      {% trans %}Enter tax rate!{% endtrans %}
                    </div>
                    <div class="alert alert-danger" id="tax-duplicate-alert"  aria-live="rude" role="alert" hidden>

                      {% trans %}Duplicate Tax!{% endtrans %}
                    </div>

                    <div class="panel-body">
                      <div class="panel">
              <table id="category_tax_table" class="table table-condensed table-bordered fixed-table">
                <thead class="bg-primary input-sm">
                  <tr>
                    <th class="col-xs-4 text-center">{% trans %}Tax Name{% endtrans %}</th>
                    <th class="col-xs-4 text-center">{% trans %}State{% endtrans %}</th>
                    <th class="col-xs-3 text-center">{% trans %}Rate%{% endtrans %}</th>
                    <th class="col-xs-1 text-center"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="col-xs-4">
                      <select class="form-control input-sm tax_name">
                        <option value="" selected>Select Tax</option>
                        <option value="VAT">VAT</option>
                        <option value="CVAT">CVAT</option>
                      </select>
                    </td>
                    <td class="col-xs-4">
                      <select class="form-control input-sm tax_state" >
                        <option value="">None</option>
                        <option value="Andaman and Nicobar Islands" stateid="1">Andaman and Nicobar Islands</option>
                        <option value="Andhra Pradesh" stateid="2">Andhra Pradesh</option>
                        <option value="Arunachal Pradesh" stateid="3">Arunachal Pradesh</option>
                        <option value="Assam" stateid="4">Assam</option>
                        <option value="Bihar" stateid="5">Bihar</option>
                        <option value="Chandigarh" stateid="6">Chandigarh</option>
                        <option value="Chhattisgarh" stateid="7">Chhattisgarh</option>
                        <option value="Dadra and Nagar Haveli" stateid="8">Dadra and Nagar Haveli</option>
                        <option value="Daman and Diu" stateid="9">Daman and Diu</option>
                        <option value="Delhi" stateid="10">Delhi</option>
                        <option value="Goa" stateid="11">Goa</option>
                        <option value="Gujarat" stateid="12">Gujarat</option>
                        <option value="Haryana" stateid="13">Haryana</option>
                        <option value="Himachal Pradesh" stateid="14">Himachal Pradesh</option>
                        <option value="Jammu and Kashmir" stateid="15">Jammu and Kashmir</option>
                        <option value="Jharkhand" stateid="16">Jharkhand</option>
                        <option value="Karnataka" stateid="17">Karnataka</option>
                        <option value="Kerala" stateid="19">Kerala</option>
                        <option value="Lakshadweep" stateid="20">Lakshadweep</option>
                        <option value="Madhya Pradesh" stateid="21">Madhya Pradesh</option>
                        <option value="Maharashtra" stateid="22">Maharashtra</option>
                        <option value="Manipur" stateid="23">Manipur</option>
                        <option value="Meghalaya" stateid="24">Meghalaya</option>
                        <option value="Mizoram" stateid="25">Mizoram</option>
                        <option value="Nagaland" stateid="26">Nagaland</option>
                        <option value="Odisha" stateid="29">Odisha</option>
                        <option value="Pondicherry" stateid="31">Pondicherry</option>
                        <option value="Punjab" stateid="32">Punjab</option>
                        <option value="Rajasthan" stateid="33">Rajasthan</option>
                        <option value="Sikkim" stateid="34">Sikkim</option>
                        <option value="Tamil Nadu" stateid="35">Tamil Nadu</option>
                        <option value="Telangana" stateid="36">Telangana</option>
                        <option value="Tripura" stateid="37">Tripura</option>
                        <option value="Uttar Pradesh" stateid="38">Uttar Pradesh</option>
                        <option value="Uttarakhand" stateid="39">Uttarakhand</option>
                        <option value="West Bengal" stateid="41">West Bengal</option>
                      </select>
                    </td>
                    <td class="col-xs-3">
                      <input class="form-control input-sm tax_rate text-right"  placeholder="Rate">
                    </td>
                    <td class="col-xs-1">

                    </td>
                  </tr>
                </tbody>
              </table>
            </div>


                    </div>
                    </div>
                    </div>
            </div>
            </div>
            </div>
<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/taxpopup.js')}}"></script>
</body>
</html>
