<div class="col-sm-6">
  <div class="form-group " >
    <label >{% trans %}Transfer Note No:{% endtrans %} {{transfernote["transfernoteno"]}}</label>
  </div>
  <div class="form-group " >
    <label >{% trans %}Date:{% endtrans %} {{transfernote["transfernotedate"]}}</label>
  </div>
	      <div class="form-group">
		<label >{% trans %}Expected Date of Receipt :{% endtrans %} {% if transfernote["duedate"] %} {{transfernote["duedate"]}}{% else %} N/A{% endif %}</label>
              </div>
	      <div class ="form-group">
         	<label >{% trans %}Grace Period :{% endtrans %} {% if transfernote["grace"] %} {{transfernote["grace"]}}</label>
		  <small >   <b> days</b></small>{% else %} N/A</label>{% endif %}
	      </div>

	    <div class="form-group"  >
	      <label for="received_transfernote_date">{% trans %}Received Date:{% endtrans %} {% if transfernote["receiveddate"] %} {{transfernote["receiveddate"]}}{% else %} N/A{% endif %}</label>
            </div>

  <div class="form-group " >
    <div class="panel">
      <table id="transfernote_product_table" class="table table-condensed table-borderd fixed-table">
	<thead class="bg-primary">
          <tr>
            <th class="col-xs-9">{% trans %}Product{% endtrans %}</th>
            <th class="col-xs-3">{% trans %}Quantity{% endtrans %}</th>

          </tr>
	</thead>
	<tbody>

	</tbody>
      </table>
    </div>
  </div>
</div>
</div>


<div class="col-md-6" id="rec_transfernote_godown_div">
            </br>
            <table class="table" border="0">
              <tbody>
		  <tr>
		    <td>
                      <label>{% trans %} Number of Packets :{% endtrans %}</label>
                    </td>
                    <td>
                      <label  id="rec_no_of_packet" ></label>
                    </td>
                  </tr>
		  <tr>
		    <td><label >{% trans %} From Godown : {% endtrans %}</label>
		    </td>
		    <td> <label id="rec_tn_from_godown"></label>
		    </td>
		  </tr>
		    <tr>
		      <td><label >{% trans %} To Godown : {% endtrans %}</label>
		      </td>
		      <td> <label id="rec_tn_to_godown"></label>
		      </td>
		    </tr>
		    <tr>
                      <td><label>{% trans %} Mode of Transport : {% endtrans %}</label></td>
		      <td> <label  id="rec_transport_mode"></label></td>
		    </tr>
		    <tr>
		      <td><label>{% trans %} Name of Issuer :{% endtrans %}</label></td>
		      <td> <label  id="rec_name_issuer"></label></td>
		    </tr>
		    <tr>
		      <td><label >{% trans %} Designation : {% endtrans %}</label></td><td> <label id="rec_designation"></label></td>
		    </tr>
		    <tr>
		      <td><label >{% trans %} Status : {% endtrans %}</label></td><td> <label id="recstatus"></label></td>
		    </tr>
	      </tbody>
	    </table>
</div>
