
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata | Cash Memo{% endtrans %}</title>
  <style media="screen">
  .nopadding{
    margin:0 !important;
    padding:0 !important;
  }


  </style>
</head>

<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="panel invoice_panel shadow">
      <div class="panel-body">
        <div class="container-fluid row">
	  <div class="col-md-2">
	    <label for="selectuser">{% trans %}Select Type of Cash Memo{% endtrans %} :</label>
	    <div class="radio">
	      <label><input type="radio" class="iib" name="iib" id="all" aria-label="" value="" checked>&nbsp {% trans %}All Cash Memo{% endtrans %}.</label>
	    </div>
	    <div class="radio">
	      <label><input type="radio" class="iib" name="iib" id="reccashmemo" aria-label="" value="0" >&nbsp {% trans %}Recorded Cash Memo{% endtrans %}.</label>
            </div>
	    <div class="radio">
              <label><input type="radio" class="iib" name="iib" id="createcashmemo" aria-label="" value="1">&nbsp {% trans %}Created Cash Memo{% endtrans %}.</label>
            </div>	  
	  </div>
          <div class="form-group col-md-6">
            {%if cashmemo == 0%}
	      <label class="text-danger">{% trans %}No Cash Memo Found!{% endtrans %}</label>
	    {%else%}
	      <label for="invoice_all_no">
		{% trans %}Cash Memo{% endtrans %} :
              </label>
	      <select class="form-control input-sm" id="invoice_all_no" accesskey="">
		<option value="" disabled hidden selected>{% trans %}Select Cash Memo{% endtrans %}</option>
		{% for invoice in gkresult %}
		  <option value="{{invoice['invid']}}" inout="{{invoice["inoutflag"]}}">{{invoice["invoiceno"]}} {{invoice["invoicedate"]}}</option>
		{% endfor %}
	    {%endif%}
              </select>
          </div>
        </div>
        <div id="viewcashmemodiv">
        </div>
      </div>
      {% if cashmemo >0 %}
	<div class="panel-footer" id="viewinvfooter" hidden>
        <div class="container-fluid btndisablediv">
          <button id="cashmemo_print" class="btn btn-primary btn-sm" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
        </div>
      </div>
      {%endif%}
  </div>
</div>

<script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewcashmemo.js')}}"></script>
</body>
</html>
