<!DOCTYPE html>
<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}View Debit & Credit Note{% endtrans %}</title>
<body>
  <div class="container-fluid" style="padding: 1 !important; margin: 0 !important;">
    <div class="panel drcrnote_panel shadow">
      <div class="panel-body">
	<div class="container-fluid row col-sm-12">
	  <form class="form-inline">
	    
	  </form>
	</div><!-- inner container-fluid -->
      </div><!-- panel-body -->
    </div><!-- drcrnote_panel end -->
  </div> <!-- container-fluid end -->
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewdrcrnote.js')}}"></script>
</body>
</html>
