{# <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Ledger{% endtrans %}</title>
 
</head>
<body>
  <div style="padding-top:1%" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
    <div class="panel-heading ">
        <h3 class="panel-title">{% trans %}View Budget{% endtrans %} </h3>
    </div>
    <div style="margin-bottom: 1%;" class="container-fluid mainbox col-md-4" >
            {% if numberofbudget ==0 %}
            <label class="text-danger">{% trans %}No Budget Found!{% endtrans %}
            </label>
            {% else %}
            <label for="budgetlist" style="padding-top:2%">{% trans %}List of Budgets{% endtrans %} :
            </label>
            <select class = "form-control input-sm" id="budgetlist">
            <option value="disabled" disabled selected hidden>{% trans %}Select Budget{% endtrans %}</option>
            {% for buds in gkresult %}
            <option value="{{buds['budid']}}">{{buds["budname"]}} ({{buds["startdate"]}} - {{buds["enddate"]}})</option>
            {% endfor %}
            {% endif %}
            </select>
    </div>
    <div style="margin-bottom: 1%; padding-top: 3%" class="container-fluid mainbox col-md-4" >
        <button class="btn btn-primary btn-sm" id="submit" name="view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>
    </div>
    </div>
  </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewbudgetreport.js')}}"></script>
</body> #}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Budget Report{% endtrans %}</title>
  <style media="screen">
  .shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  label {
		font-size: 90%;
	}
  </style>
</head>
<body>
  <div style="padding-top:5px" class="container-fluid mainbox col-md-6 col-md-offset-3">
    <div class="panel shadow">
      <div class="panel-heading">
        <h3 class="panel-title">{% trans %}View Budget Report{% endtrans %}
      </div>
      <div class="panel-body" style="padding-top:5px">
        <div style="margin-bottom: 5px" class="col-xs-12 from-group">
          {% if numberofbudget ==0 %}
            <label class="text-danger">{% trans %}No Budget Found!{% endtrans %}
            </label>
            {% else %}
            <label for="budgetlist" style="padding-top:2%">{% trans %}List of Budgets{% endtrans %} :
            </label>
            <select class = "form-control input-sm" id="budgetlist">
            <option value="disabled" disabled selected hidden>{% trans %}Select Budget{% endtrans %}</option>
            {% for buds in gkresult %}
            <option value="{{buds['budid']}}">{{buds["budname"]}} ({{buds["startdate"]}} - {{buds["enddate"]}})</option>
            {% endfor %}
            {% endif %}
            </select>
          <br>
        </div>
      </div>

      <div class="panel-footer">
        <button class="btn btn-primary btn-sm" id="submit" name="view" accesskey="v">{% trans %}<i class="fa fa-eye" aria-hidden="true"></i> <u>V</u>iew{% endtrans %}</button>

      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewbudgetreport.js')}}"></script>
</body>
</html>

            