<body>
  <div class="container-fluid" style="padding:1 !important; margin:0 !important;">
    <div class='panel'>
      <div class="panel-body">
	<div class="container-fluid row">
	  <div class="form-group  col-sm-6">
	    {% if numberofpurchaseorders|int < 1 %}
	      <label class="text-danger">{% trans %}No Purchase Order Found!{% endtrans %}</label>
	    {% else %}
	      <label for="purchaseorderselect">{% trans %}Purchase order{% endtrans %} :</label>
              <select class = "form-control input-sm"  name = "purchaseorderno" id="purchaseorder_select" >
		<option value="" disabled selected hidden>{% trans %}Select Purchase order{% endtrans %}</option>
		{% for po in gkresult %}
		  <option value="{{po['orderid']}}" attachmentcount="{{po["attachmentcount"]}}">{{po["orderno"]}}, {{po["orderdate"]}}, {{po["customer"]}}</option>
		{% endfor %}
              </select>
	    {% endif %}
	  </div>
	</div>
	<div class="nopadding" id="purchaseorderdetails">
	</div>
      </div>
      <div class="panel-footer" id="viewpofooter" hidden>
	<div class="container-fluid btndisablediv">
          <button id="po_print" class="btn btn-primary btn-sm" accesskey="t"><i class="fa fa-print" aria-hidden="true"></i> {% trans %}Prin<u>t</u>{% endtrans %}</button>
	  <button class="btn btn-info btnfocus btn-sm" id="viewattach" accesskey="h" style="display:none;"><i class="fa fa-eye" aria-hidden="true"></i> {% trans %}View Attac<u>h</u>ment{% endtrans %}</button>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewpurchaseorder.js')}}"></script>
</body>
