<!DOCTYPE html>
<title>{% trans %}GNUKhata{% endtrans %} | {% trans %}Debit & Credit Note{% endtrans %}</title>
<link href="{{request.static_url('gkwebapp:static/css/drcrnote.css')}}" rel="stylesheet" type="text/css">
<body style="padding-right:1%;">
  Hello pagal
  <script type="text/javascript" src="{{request.static_url('gkwebapp:static/js/viewdrcrnote.js')}}"></script>
</body>
</html>
