<!DOCTYPE html>
<html>
<head>
<title>Organiaztion Particulars</title>
<link href="../../lib/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/organisation_particulars_style.css" rel="stylesheet" type="text/css" />
<style>

</style>
</head>
<body>

    <div class="container">
    <div class="row">
    <h1>Organization Particulars</h1>
    <p class="organisation"><b>BATU</b></p>
    <p class="financial_year"><b>Financial Year 2015-16</b></p>
    </div>
    <div class="row">
    
	<form  action="organisation_details" id="id-org_detailsform" class="form-vertical" method="post" >
		<div  class="col-md-6" >
			<div id="div_id_reg_no" class="form-group"> 
				<label for="id_reg_no" class="control-label col-md-12 requiredField">
                Registration No : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_reg_no" name="reg_no" type="text" /> </div> </div> <div id="div_id_fcrareg_no" class="form-group"> <label for="id_fcrareg_no" class="control-label col-md-12 requiredField">
                FCRA Registration Number : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_fcrareg_no" name="fcrareg_no" type="text" /> </div> </div> <div id="div_id_address" class="form-group"> <label for="id_address" class="control-label col-md-12 requiredField">
                Address : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_address" name="address" type="text" /> </div> </div> 

				<div id="div_id_state" class="form-group"> <label for="id_country" class="control-label col-md-12 requiredField">
                State : <span class="asteriskField">*</span> </label> <div class="controls col-md-12">
							<select class="form-control">
									<option value="null">--</option>
									<option value="kerala">Kerala</option>
									<option value="maharashtra">Maharashtra</option>
									<option value="tamilnadu">Tamil Nadu</option>
							</select>
				</div> 
				</div> 

				<div id="div_id_country" class="form-group">
					<label for="id_state" class="control-label col-md-12 requiredField">
                Country : <span class="asteriskField">*</span> </label>
                <div class="controls col-md-12"> 
					<select class="form-control">
						<option value="null">--</option>
						<option value="india">India</option>
						<option value="srilanka">Sri Lanka</option>
						<option value="pakistan">Pakistan</option>
				</select>
				</div>
				</div> 

				<div id="div_id_city" class="form-group"> <label for="id_city" class="control-label col-md-12 requiredField">
                City : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_city" name="city" type="text" /> </div> </div> <div id="div_id_postal_code" class="form-group"> <label for="id_postal_code" class="control-label col-md-12 requiredField">
                Postal Code :<span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_postal_code" name="postal_code" type="text" /> </div> </div> <div id="div_id_vat_no" class="form-group"> <label for="id_vat_no" class="control-label col-md-12 requiredField">
                VAT No : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_vat_no" name="vat_no" type="text" /> </div> </div> </div>
		<div class="col-md-6"> <div id="div_id_reg_date" class="form-group"> <label for="id_reg_date" class="control-label col-md-12 requiredField">
                Date of Registration : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="dateinput form-control" id="id_reg_date" input-formats="[&#39;%d/%m/%y&#39;]" name="reg_date" type="text" placeholder="dd-mm-yy" /> </div> </div> <div id="div_id_fcrareg_date" class="form-group"> <label for="id_fcrareg_date" class="control-label col-md-12 requiredField">
                Date of FCRA Registration :<span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="dateinput form-control" id="datepicker" input-formats="[&#39;%d/%m/%y&#39;]" name="fcrareg_date" type="text" placeholder="dd-mm-yy" /> </div> </div> <div id="div_id_email" class="form-group"> <label for="id_email" class="control-label col-md-12 requiredField">
                Email-id : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="emailinput form-control" id="id_email" name="email" type="email" placeholder="someone@example.com" /> </div> </div> <div id="div_id_tel_no" class="form-group"> <label for="id_tel_no" class="control-label col-md-12 requiredField">
                Telephone Number : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_tel_no" name="tel_no" type="text" /> </div> </div> <div id="div_id_fax_no" class="form-group"> <label for="id_fax_no" class="control-label col-md-12 requiredField">
                Fax Number : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_fax_no" name="fax_no" type="text" /> </div> </div> <div id="div_id_website" class="form-group"> <label for="id_website" class="control-label col-md-12 requiredField">
                Website : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="urlinput form-control" id="id_website" name="website" type="url" /> </div> </div> <div id="div_id_pan" class="form-group"> <label for="id_pan" class="control-label col-md-12 requiredField">
                Permanent Account Number : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_pan" name="pan" type="text" /> </div> </div> <div id="div_id_stn" class="form-group"> <label for="id_stn" class="control-label col-md-12 requiredField">
                Service Tax Number : <span class="asteriskField">*</span> </label> <div class="controls col-md-12"> <input class="textinput textInput form-control" id="id_stn" name="stn" type="text" /> </div> </div> </div>
	<div class="row"> 
		<div class="col-md-1 col-md-offset-10" > <div class="form-group"> <div class="controls col-md-12"></div> <div class="controls col-md-12"> 
			<input type="submit" name="submit" value="Back" class="btn btn-primary btn-primary"id="submit-id-submit"/> 
		</div>
	</div>

	</div>
	
<div  
    class="col-md-1" > <div class="form-group"> <div class="controls col-md-12"></div> <div class="controls col-md-12"> 
    <input type="submit" name="submit" value="Save" class="btn btn-primary btn-success" id="submit-id-submit" /> 
    </div>
</div>

</div>

</div> 



</form>

    </div>
    </div>

</body>
</html>
<html>
