<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>Trial balance</title>
<link href="../../lib/css/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="assets/css/trial_balance_style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
	<div class="row">
		<h1>Trial Balance</h1>
		<p class="organisation"><b>BATU</b></p>
		<p class="financial_year"><b>From Financial Year 2015-16</b></p>
	</div>
	<div id="table">           
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>S.No</th>
					<th>Account Name</th>
					<th>Debit</th>
					<th>Credit</th>
					<th>Group name</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>
				<tr>
					<td>1</td>
					<td>Doe</td>
					<td>5000.00</td>
					<td>5000.00</td>
					<td>Corpus</td>
				</tr>																
			</tbody>
		</table>
	</div>
		<div class="row"> 
		<div class="col-md-1 col-md-offset-10" > <div class="form-group"> <div class="controls col-md-12"></div> <div class="controls col-md-12"> 
			<input type="submit" name="submit" value="Back" class="btn btn-primary btn-primary"id="submit-id-submit"/> 
		</div>
	</div>

	</div>
	
<div  
    class="col-md-1" > <div class="form-group"> <div class="controls col-md-12"></div> <div class="controls col-md-12"> <input type="submit"
    name="submit"
    value="Print"
    
        class="btn btn-primary btn-success"
        id="submit-id-submit"
    
    
    /> </div>
</div>
</body>
</html>
