<!DOCTYPE html>
<html>
<head>
    <title>GNUKhata</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../lib/css/close_books.css">
    <link rel="stylesheet" href="../lib/css/bootstrap.min.css">
  	<script src="../lib/js/jquery-1.12.0.min.js"></script>
  	<script src="../lib/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<div class="jumbotron" name="close">
			<fieldset>
			<legend><b>Close Books</b></legend>
			<p>Current Financial Year: <input type="date id=""/> to <input type="date id=""/></p>
			<p>Do you want to Close Books?</p>
			<button type="button" class="btn btn-danger" onclick="myFunction()">Close Books</button>
			<script>
				function myFunction() 
				{
    				confirm("Are you sure you want to Close Books for this Organisation?");
				}
			</script>

		</fieldset>
		</div>
		<div class="jumbotron">
			<fieldset>
			<legend><b>Roll Over</b></legend>
			<p><b>Roll Over for the Period</b></p>
			<p>Current Financial Year From: <input type="date id=""/> to <input type="date id=""/></p>
			<p>New Financial Year From: <input type="date id=""/> to <input type="date id=""/></p>
			<button type="button" class="btn btn-primary">Roll Over</button>
		</fieldset>
		</div>
	</div>

</body>
</html>
