<!doctype html>
<html>
<body>
<ul class="info">
			<li><h3>Welcome to GNUKhata</h3></li>
			<li><h4>A free and open source accounting software</h4></li>
			<li class="matter">
			<p>To access the Toolbar press "Shift+F1".</p>
			<p>To access Menu from the Toolbar : </p>
			<p class="shortcut">If using Firefox, press "Alt + Shift + the shortcut key".</p>
			<p class="shortcut">If using Google Chrome, Opera or Internet Explorer press "Alt + the shortcut key".</p>
			<p class="shortcut">If using older versions of Opera(prior to version 12.1) use "Shift + Esc + the shortcut key".</p>
			</li>
</ul>
</body>
</html>