<!DOCTYPE html>
<html ng-app="main_shell">
<head>
<meta charset="utf-8"/>
<title>Main Shell</title>
<link href="../lib/css/main_shell_style.css" rel="stylesheet" type="text/css"/>
</head>
<body ng-controller="shellcontroller" ui-keypress="{'shift-112':'keypresscount()'}">
<ul class="menu">
		<li class="dropdown">
			<a ng-init="gnukhata=0" ng-click="gnukhata=gnukhata+1" ng-mouseover="gnukhata=gnukhata+1" ng-mouseleave="gnukhata=0" href="#">GNUkhata</a>
			<ul class="dropdown-content" ng-show="gnukhata%2">
          		<li><a href="#">Logout</a></li>
          		<li><a href="#">Change Organisation</a></li>
          		<li><a href="#">Quit</a></li>
        	</ul>
      	</li>
		<li class="dropdown" ng-init="master=0" ng-click="master=master+1" ng-mouseover="master=master+1" ng-mouseleave="master=0">
			<a href="#">Master</a>
			<ul class="dropdown-content" ng-show="master%2">
          		<li><a href="#">Create/Edit Account</a></li>
          		<li><a href="#">Edit Organisation</a></li>
          		<li><a href="#">Project</a></li>
          		<li><a href="#">Bank Reconciliation Statement</a></li>
        	</ul>
		</li>
		<li class="dropdown" ng-init="transaction=0" ng-click="transaction=transaction+1" ng-mouseover="transaction=transaction+1" ng-mouseleave="transaction=0">
			<a href="#">Transaction</a>
			<ul class="dropdown-content" ng-show="transaction%2">
          		<li><a href="#">Contra</a></li>
          		<li><a href="#">Payment</a></li>
          		<li><a href="#">Receipt</a></li>
          		<li><a href="#">Journal</a></li>
          		<li><a href="#">Sales</a></li>
          		<li><a href="#">Purchase</a></li>
          		<li><a href="#">Credit Note</a></li>
          		<li><a href="#">Debit Note</a></li>
          		<li><a href="#">Sales Return</a></li>
          		<li><a href="#">Purchase Return</a></li>
        	</ul>
		</li>
		<li class="dropdown" ng-init="report=0" ng-click="report=report+1" ng-mouseover="report=report+1" ng-mouseleave="report=0">
			<a href="#">Report</a>
			<ul class="dropdown-content" ng-show="report%2">
          		<li><a href="#">Ledger</a></li>
          		<li><a href="trial_balance.html">Trial Balance</a></li>
          		<li><a href="#">Project Statement</a></li>
          		<li><a href="#">Cash Flow</a></li>
          		<li><a href="#">Statement of Affairs</a></li>
          		<li><a href="#">Income and Expenditure Account</a></li>
          		<li><a href="#">List of Accounts</a></li>
        	</ul>
		</li>
		<li class="dropdown" ng-init="administration=0" ng-click="administration=administration+1" ng-mouseover="administration=administration+1" ng-mouseleave="administration=0">
			<a href="#">Administration</a>
			<ul class="dropdown-content" ng-show="administration%2">
          		<li><a href="#">New User</a></li>
          		<li><a href="#">Remove User</a></li>
          		<li><a href="#">Change Password</a></li>
          		<li><a href="#">Close Books/Roll Over</a></li>
          		<li><a href="#">Delete Organisation</a></li>
        	</ul>
		</li>
		<li class="dropdown" ng-init="help=0" ng-click="help=help+1" ng-mouseover="help=help+1" ng-mouseleave="help=0">
			<a href="#">Help</a>
			<ul class="dropdown-content" ng-show="help%2">
          		<li><a href="#">GNUKhata Manual</a></li>
          		<li><a href="#">Authors</a></li>
          		<li><a href="#">GNUKhata License</a></li>
          		<li><a href="#">About GNUkhata</a></li>
          	</ul>
		</li>
	</ul>
	<button type="button" class="toolbar" ng-click="keypresscount()">Toolbar</button>		
	<ul class="toolbar col-lg-2 pull-right" ng-show="show()">
		<li><a accesskey="z" href="create_account.html">Create/Edit Account - Z</a></li>
		<li><a accesskey="a" href="#">List of Accounts - A</a></li>
		<li><a accesskey="l" href="#">Ledger - L</a></li>
		<li><a accesskey="y" href="#">Contra - Y</a></li>
		<li><a accesskey="p" href="#">Payment - P</a></li>
		<li><a accesskey="r" href="#">Receipt - R</p</li>
		<li><a accesskey="j" href="#">Journal - J</a></li>
		<li><a accesskey="s" href="#">Sales - S</a></li>
		<li><a accesskey="x" href="#">Purchase - X</p</li>
		<li><a accesskey="c" href="#">Credit Note - C</a></li>
		<li><a accesskey="d" href="#">Debit Note - D</a></li>
		<li><a accesskey="w" href="#">Sales Return - W</a></li>
		<li><a accesskey="u" href="#">Purchase Return - U</a></li>
		<li><a accesskey="b" href="trial_balance.html">Trial Balance - B</p</li>
		<li><a accesskey="i" href="#">Income & Expenditure - I</a></li>
		<li><a accesskey="t" href="#">Statement of Affairs - T</a></li>
		<li><a accesskey="f" href="#">Cash Flow - F</a></li>
		<li><a accesskey="k" href="#">Project Statement - K</a></li>
		<li><a accesskey="n" href="#">Bank Reconciliation Statement - N</a></li>
		<li><a accesskey="m" href="#">Project - M</a></li>
		<li><a accesskey="v" href="#">Find Voucher - V</a></li>
		<li><a accesskey="g" href="#">Logout - G</a></li>
		<li><a accesskey="o" href="#">Change Organisation - O</a></li>
		<li><a accesskey="q" href="#">Quit - Q</a></li>
	</ul>
	<div class="info">
		<ul class="info">
			<li><h3>Welcome to GNUKhata</h3></li>
			<li><h4>A free and open source accounting software</h4></li>
			<li class="matter">
			<p>To access the Toolbar press "Shift+F1".</p>
			<p>To access Menu from the Toolbar : </p>
			<p class="shortcut">If using Firefox, press "Alt + Shift + the shortcut key".</p>
			<p class="shortcut">If using Google Chrome, Opera or Internet Explorer press "Alt + the shortcut key".</p>
			<p class="shortcut">If using older versions of Opera(prior to version 12.1) use "Shift + Esc + the shortcut key".</p>
			</li>
		</ul>
	</div>
<script type="text/javascript" src="../lib/js/angular.min.js"></script>
<script type="text/javascript" src="../lib/js/angular-ui.min.js"></script>
<script type="text/javascript" src="../controller/shellcontroller.js"></script>
</body>
</html>
